Repository locoframework/loco-rails: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, bundle exec rubocop --force-exclusion

refactor + docs
  README.md
  docs/EXAMPLES.md
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/views/user/rooms/List.js
  test/dummy/frontend/js/views/user/rooms/Show.js
Due: prettier --write, eslint --fix

new syntax
  README.md
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/initializers/loco.js
Due: prettier --write, eslint --fix

build
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
Due: prettier --write, eslint --fix

docs
  README.md
Due: none

README
  README.md
  lib/generators/loco/notification_center/templates/services/loco/notification_center.rb
  test/dummy/app/services/loco/notification_center.rb
Due: bundle exec rubocop --force-exclusion

jsonb/json
  README.md
  app/models/loco/notification.rb
  test/dummy/config/environments/test.rb
  test/dummy/db/migrate/20260421041825_create_loco_notifications.loco.rb
  test/dummy/db/migrate/20260421041826_add_indexes_to_loco_notifications.loco.rb
  test/dummy/db/schema.rb
  test/test_helper.rb
Due: bundle exec rubocop --force-exclusion

refactor
  docs/EXAMPLES.md
  test/dummy/app/controllers/user/rooms_controller.rb
Due: bundle exec rubocop --force-exclusion

refactor
  test/dummy/app/services/maintain_room_members.rb
Due: bundle exec rubocop --force-exclusion

refactor
  lib/loco/hub.rb
Due: bundle exec rubocop --force-exclusion

refactor
  lib/loco/ws_connection_identifier.rb
Due: bundle exec rubocop --force-exclusion

upgrade test
  test/dummy/app/services/maintain_room_members.rb
  test/integration/user/real_snap_chat_test.rb
Due: bundle exec rubocop --force-exclusion

bump deps
  .rubocop.yml
  Gemfile.lock
  README.md
  db/migrate/20150927133812_create_loco_notifications.rb
  db/migrate/20240211210452_add_indexes_to_loco_notifications.rb
  lib/loco-rails.rb
  loco-rails.gemspec
  test/dummy/bin/setup
  test/dummy/db/migrate/20260421041825_create_loco_notifications.loco.rb
  test/dummy/db/migrate/20260421041826_add_indexes_to_loco_notifications.loco.rb
Due: bundle exec rubocop --force-exclusion

improvements
  README.md
  app/controllers/loco/notification_center_controller.rb
  lib/generators/loco/initializer/templates/initializer.rb
  lib/loco-rails.rb
  lib/loco/config.rb
  test/dummy/config/initializers/loco.rb
Due: bundle exec rubocop --force-exclusion

touple for obj=
  README.md
  app/models/loco/notification.rb
  test/dummy/app/services/maintain_room_members.rb
Due: bundle exec rubocop --force-exclusion

remove duplication
  .rubocop.yml
  README.md
  lib/generators/loco/file_injector/templates/application_controller.rb
  lib/generators/loco/file_injector/templates/connection.rb
  lib/generators/loco/initializer/templates/initializer.rb
  lib/loco-rails.rb
  lib/loco/config.rb
  lib/loco/permissions.rb
Due: bundle exec rubocop --force-exclusion

remove deprecation warning
  Rakefile
  test/test_helper.rb
Due: bundle exec rubocop --force-exclusion

no DEPRECATION WARNINGS in tests
  app/models/loco/notification.rb
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/app/controllers/user/rooms_controller.rb
  test/integration/admin/users_section_test.rb
  test/integration/main/article_page_test.rb
  test/integration/main/main_page_test.rb
  test/integration/signing_up_test.rb
  test/integration/user/article_edit_page_test.rb
  test/integration/user/articles_list_test.rb
  test/integration/user/direct_communication_test.rb
  test/services/loco/notification/fetcher_test.rb
  test/support/admin_helpers.rb
  test/support/common_helpers.rb
  test/support/user_helpers.rb
Due: bundle exec rubocop --force-exclusion

[test] fix dummy
  README.md
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/frontend/js/actions.js
  test/dummy/frontend/js/reducers/users.js
  test/dummy/frontend/js/services/NotificationCenter.js
Due: prettier --write, eslint --fix, bundle exec rubocop --force-exclusion

refactor
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/frontend/js/services/NotificationCenter.js
Due: prettier --write, eslint --fix, bundle exec rubocop --force-exclusion

[test] fix
  test/dummy/app/services/loco/notification_center.rb
  test/services/loco/notification_center_test.rb
Due: bundle exec rubocop --force-exclusion

refactor
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/actions.js
  test/dummy/frontend/js/components/user/Article.js
  test/dummy/frontend/js/containers/main/pages/LoadMoreLink.js
  test/dummy/frontend/js/containers/user/Comment.js
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/admin/Users.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/main/Pages.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/reducers/articles.js
  test/dummy/frontend/js/reducers/comments.js
  test/dummy/frontend/js/reducers/users.js
  test/dummy/frontend/js/services/NotificationCenter.js
  test/dummy/frontend/js/views/user/articles/Form.js
  test/integration/signing_up_test.rb
Due: prettier --write, eslint --fix, bundle exec rubocop --force-exclusion

reduce reducers
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/components/user/Article.js
  test/dummy/frontend/js/containers/main/pages/LoadMoreLink.js
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/admin/Users.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/main/Pages.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/reducers/articles.js
  test/dummy/frontend/js/reducers/common.js
  test/dummy/frontend/js/reducers/index.js
  test/dummy/frontend/js/reducers/users.js
  test/dummy/frontend/js/services/NotificationCenter.js
  test/dummy/frontend/js/views/user/articles/Form.js
Due: prettier --write, eslint --fix

reduce comments
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/containers/user/Comment.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/reducers/comments.js
  test/dummy/frontend/js/reducers/common.js
  test/dummy/frontend/js/reducers/index.js
  test/dummy/frontend/js/services/NotificationCenter.js
  test/dummy/frontend/js/views/user/articles/Form.js
Due: prettier --write, eslint --fix

js/actions
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/actions/articles.js
  test/dummy/frontend/js/actions/comments.js
  test/dummy/frontend/js/actions/users.js
  test/dummy/frontend/js/services/NotificationCenter.js
  test/dummy/frontend/js/services/namespace.js
Due: prettier --write, eslint --fix

refactor
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/actions/articles.js
  test/dummy/frontend/js/actions/comments.js
  test/dummy/frontend/js/containers/main/articles/CommentList.js
  test/dummy/frontend/js/containers/main/articles/CommentsNumber.js
  test/dummy/frontend/js/containers/user/CommentList.js
  test/dummy/frontend/js/selectors/articles.js
  test/dummy/frontend/js/selectors/comments.js
  test/dummy/frontend/js/selectors/createFinder.js
  test/dummy/frontend/js/selectors/index.js
Due: prettier --write, eslint --fix

reactions
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/frontend/js/reactions/articles.js
  test/dummy/frontend/js/reactions/comments.js
  test/dummy/frontend/js/reactions/users.js
  test/dummy/frontend/js/services/NotificationCenter.js
Due: prettier --write, eslint --fix

refactor
  README.md
  app/models/loco/notification.rb
  lib/loco-rails.rb
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/reactions/comments.js
  test/dummy/frontend/js/services/NotificationCenter.js
  test/integration/user/real_snap_chat_test.rb
Due: prettier --write, eslint --fix, bundle exec rubocop --force-exclusion

payload -> data
  lib/loco-rails.rb
  lib/loco/broadcaster.rb
  lib/loco/data.rb
  lib/loco/sender.rb
  test/loco/broadcaster_test.rb
Due: bundle exec rubocop --force-exclusion

refactor
  lib/loco/data.rb
Due: bundle exec rubocop --force-exclusion

refactor
  lib/loco-rails.rb
  lib/loco/broadcaster.rb
Due: bundle exec rubocop --force-exclusion

refactor
  lib/loco/data.rb
  lib/loco/sender.rb
  test/loco/data_test.rb
  test/loco/sender_test.rb
Due: bundle exec rubocop --force-exclusion

refactor
  app/jobs/loco/sender_job.rb
  lib/loco-rails.rb
  lib/loco/broadcaster.rb
  lib/loco/sender.rb
  test/loco/broadcaster_test.rb
  test/loco/sender_test.rb
Due: bundle exec rubocop --force-exclusion

refactor
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/controllers/admin/articles_controller.rb
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/views/admin/articles/published.html.erb
  test/dummy/app/views/admin/users/index.html.erb
  test/dummy/app/views/user/articles/index.html.erb
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/admin/Users.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/reactions/articles.js
  test/dummy/frontend/js/services/NotificationCenter.js
  test/integration/user/articles_list_test.rb
Due: prettier --write, eslint --fix, bundle exec rubocop --force-exclusion

refactor
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/controllers/admin/articles_controller.rb
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/controllers/main/articles_controller.rb
  test/dummy/app/controllers/main/pages_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/views/admin/articles/edit.html.erb
  test/dummy/app/views/admin/comments/index.json.jbuilder
  test/dummy/app/views/admin/users/index.json.jbuilder
  test/dummy/app/views/admin/users/show.html.erb
  test/dummy/app/views/main/articles/show.html.erb
  test/dummy/app/views/main/comments/index.json.jbuilder
  test/dummy/app/views/main/pages/index.html.erb
  test/dummy/app/views/user/articles/edit.html.erb
  test/dummy/app/views/user/articles/index.json.jbuilder
  test/dummy/app/views/user/articles/show.html.erb
  test/dummy/app/views/user/comments/index.json.jbuilder
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/admin/Users.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/main/Pages.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/views/user/articles/Form.js
Due: prettier --write, eslint --fix, bundle exec rubocop --force-exclusion

refactor
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/admin/Users.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/main/Pages.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/utils/inline.js
  test/dummy/frontend/js/views/user/articles/Form.js
Due: prettier --write, eslint --fix

cut prepend
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/reactions/articles.js
  test/dummy/frontend/js/reactions/users.js
  test/dummy/frontend/js/reducers/common.js
Due: prettier --write, eslint --fix

refactor
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/components/user/Article.js
  test/dummy/frontend/js/containers/user/Comment.js
  test/dummy/frontend/js/reactions/articles.js
  test/dummy/frontend/js/reactions/comments.js
  test/dummy/frontend/js/reactions/users.js
  test/dummy/frontend/js/reducers/common.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: **/*.js) or (any of: **/*.css)
  eslint --fix: any of: **/*.js
  stylelint --fix: any of: **/*.css
  bundle exec rubocop --force-exclusion: any of: *.{gemspec,rb}
