Repository locoframework/loco-rails: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix, bundle exec rubocop -a

.lintstagedrc:

{
  "./*.js": [
    "prettier --write",
    "eslint",
    "git add"
  ],
  "test/dummy/frontend/**/*.js": [
    "prettier --write",
    "eslint",
    "git add"
  ],
  "test/dummy/frontend/**/*.{css,scss}": [
    "prettier --write",
    "stylelint --fix",
    "git add"
  ],
  "*.{gemspec,rb}": [
    "bundle exec rubocop -a",
    "git add"
  ]
}

Fix
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/js/controllers/Admin.js
  test/dummy/frontend/js/controllers/Main.js
  test/dummy/frontend/js/controllers/User.js
  test/dummy/frontend/js/controllers/concerns/Disconnection.js
Due: prettier --write, eslint

loco-rails is allowed for Rails 6
  .rubocop.yml
  Gemfile.lock
  loco-rails.gemspec
Due: bundle exec rubocop -a

Changes
  .rubocop.yml
  Gemfile.lock
  loco-rails.gemspec
  test/dummy/config/application.rb
  test/dummy/db/schema.rb
Due: bundle exec rubocop -a

Fix
  .lintstagedrc
  .rubocop.yml
  Gemfile.lock
  bin/rails
  loco-rails.gemspec
  test/dummy/bin/rails
  test/dummy/bin/setup
  test/test_helper.rb
Due: bundle exec rubocop -a

schema.rb has been reverted
  test/dummy/db/schema.rb
Due: bundle exec rubocop -a

actioncable.js and rails-ujs have been updated
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/js/initializers/loco.js
  test/dummy/frontend/js/initializers/rails.js
Due: prettier --write, eslint

Rails 6 config
  test/dummy/config/application.rb
  test/dummy/config/environments/development.rb
  test/dummy/config/environments/production.rb
  test/dummy/config/environments/test.rb
Due: bundle exec rubocop -a

Deps have been updated
  Gemfile
  Gemfile.lock
  loco-rails.gemspec
Due: bundle exec rubocop -a

tests use redis
  docker-compose.yml
  test/dummy/config/cable.yml
Due: none

Bugfixes
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/controllers/user/rooms_controller.rb
Due: bundle exec rubocop -a

docker-compose fix
  docker-compose.yml
Due: none

Fixed tests
  test/dummy/config/cable.yml
  test/integration/user/real_snap_chat_test.rb
Due: bundle exec rubocop -a

Fixed spec + Cable in async mode for tests
  test/dummy/config/cable.yml
  test/integration/user/direct_communication_test.rb
Due: bundle exec rubocop -a

.rubocop.yml has been updated
  .rubocop.yml
Due: none

Rubocop - no offenses
  bin/rails
Due: none

Changes
  test/dummy/config/cable.yml
Due: none

case sensitive uniqueness
  test/dummy/app/models/user.rb
Due: bundle exec rubocop -a

Deprecation warnings have been removed
  test/dummy/app/controllers/admin/comments_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/app/models/user.rb
Due: bundle exec rubocop -a

[internal] test/dummy on Rails 6 (#8)
  .lintstagedrc
  .rubocop.yml
  Gemfile
  Gemfile.lock
  docker-compose.yml
  loco-rails.gemspec
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/app/controllers/admin/comments_controller.rb
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/app/controllers/user/rooms_controller.rb
  test/dummy/app/models/user.rb
  test/dummy/bin/rails
  test/dummy/bin/setup
  test/dummy/config/application.rb
  test/dummy/config/cable.yml
  test/dummy/config/environments/development.rb
  test/dummy/config/environments/production.rb
  test/dummy/config/environments/test.rb
  test/dummy/frontend/js/initializers/loco.js
  test/dummy/frontend/js/initializers/rails.js
  test/integration/user/direct_communication_test.rb
  test/integration/user/real_snap_chat_test.rb
  test/test_helper.rb
Due: prettier --write, eslint, bundle exec rubocop -a

[ver] 3.0.4
  lib/loco/version.rb
Due: bundle exec rubocop -a

[internal] Gemfile.lock has been updated
  Gemfile.lock
Due: none

[internal] JS security vulnerabilities in test/dummy have been fixed
  package-lock.json
Due: none

[internal] js/containers inside test/dummy have been refactored
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/containers/admin/ArticleList.js
  test/dummy/frontend/js/containers/admin/UserList.js
  test/dummy/frontend/js/containers/main/articles/CommentList.js
  test/dummy/frontend/js/containers/main/pages/ArticleList.js
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/admin/Users.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/main/Pages.js
Due: prettier --write, eslint

[internal] js/stores inside test/dummy have been refactored
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/stores/admin.js
  test/dummy/frontend/js/stores/main.js
Due: prettier --write, eslint

removeArticle
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/actions/user.js
  test/dummy/frontend/js/components/user/Article.js
  test/dummy/frontend/js/reducers/user/articles.js
Due: prettier --write, eslint

addArticles
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/actions/shared.js
  test/dummy/frontend/js/components/user/Article.js
  test/dummy/frontend/js/containers/main/pages/LoadMoreLink.js
  test/dummy/frontend/js/reducers/main/articles.js
  test/dummy/frontend/js/reducers/user/articles.js
  test/dummy/frontend/js/services/Connectivity.js
  test/dummy/frontend/js/views/user/articles/Form.js
Due: prettier --write, eslint

setArticles
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/actions/shared.js
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/main/Pages.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/reducers/admin/articles.js
  test/dummy/frontend/js/reducers/main/articles.js
  test/dummy/frontend/js/reducers/user/articles.js
Due: prettier --write, eslint

updateArticle
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/actions/shared.js
  test/dummy/frontend/js/reducers/admin/articles.js
  test/dummy/frontend/js/reducers/main/articles.js
  test/dummy/frontend/js/reducers/user/articles.js
  test/dummy/frontend/js/services/Connectivity.js
Due: prettier --write, eslint

prependArticles
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/actions/admin.js
  test/dummy/frontend/js/reducers/admin/articles.js
  test/dummy/frontend/js/services/Connectivity.js
Due: prettier --write, eslint

setUsers, prependUsers
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/actions/admin.js
  test/dummy/frontend/js/controllers/admin/Users.js
  test/dummy/frontend/js/reducers/admin/users.js
  test/dummy/frontend/js/services/Connectivity.js
Due: prettier --write, eslint

addComments
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/actions/shared.js
  test/dummy/frontend/js/reducers/main/comments.js
  test/dummy/frontend/js/reducers/user/comments.js
  test/dummy/frontend/js/services/Connectivity.js
Due: prettier --write, eslint

removeComment, setComments
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/actions/shared.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/reducers/main/comments.js
  test/dummy/frontend/js/reducers/user/comments.js
  test/dummy/frontend/js/services/Connectivity.js
  test/dummy/frontend/js/views/user/articles/Form.js
Due: prettier --write, eslint

no React.createElement
  test/dummy/frontend/js/controllers/main/Articles.js
Due: prettier --write, eslint

actions.js
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/actions.js
  test/dummy/frontend/js/actions/admin.js
  test/dummy/frontend/js/actions/user.js
  test/dummy/frontend/js/components/user/Article.js
  test/dummy/frontend/js/containers/main/pages/LoadMoreLink.js
  test/dummy/frontend/js/containers/user/Comment.js
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/admin/Users.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/main/Pages.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/reducers/admin/articles.js
  test/dummy/frontend/js/reducers/admin/users.js
  test/dummy/frontend/js/reducers/main/articles.js
  test/dummy/frontend/js/reducers/main/comments.js
  test/dummy/frontend/js/reducers/user/articles.js
  test/dummy/frontend/js/reducers/user/comments.js
  test/dummy/frontend/js/services/Connectivity.js
  test/dummy/frontend/js/views/user/articles/Form.js
Due: prettier --write, eslint

reducers/articles.js
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/js/reducers/admin/articles.js
  test/dummy/frontend/js/reducers/admin/index.js
  test/dummy/frontend/js/reducers/articles.js
  test/dummy/frontend/js/reducers/main/articles.js
  test/dummy/frontend/js/reducers/main/index.js
  test/dummy/frontend/js/reducers/user/index.js
  test/dummy/frontend/js/services/Connectivity.js
Due: prettier --write, eslint

user, main -> reducers/index.js
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/js/reducers/comments.js
  test/dummy/frontend/js/reducers/index.js
  test/dummy/frontend/js/reducers/main/comments.js
  test/dummy/frontend/js/reducers/user/index.js
  test/dummy/frontend/js/stores/main.js
  test/dummy/frontend/js/stores/user.js
Due: prettier --write, eslint

store.js
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/js/components/user/Article.js
  test/dummy/frontend/js/containers/admin/ArticleList.js
  test/dummy/frontend/js/containers/admin/UserList.js
  test/dummy/frontend/js/containers/main/articles/CommentList.js
  test/dummy/frontend/js/containers/main/articles/CommentsNumber.js
  test/dummy/frontend/js/containers/main/pages/ArticleList.js
  test/dummy/frontend/js/containers/main/pages/LoadMoreLink.js
  test/dummy/frontend/js/containers/user/ArticleList.js
  test/dummy/frontend/js/containers/user/Comment.js
  test/dummy/frontend/js/containers/user/CommentList.js
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/admin/Users.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/main/Pages.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/reducers/admin/index.js
  test/dummy/frontend/js/reducers/index.js
  test/dummy/frontend/js/reducers/users.js
  test/dummy/frontend/js/services/Connectivity.js
  test/dummy/frontend/js/store.js
  test/dummy/frontend/js/stores/admin.js
  test/dummy/frontend/js/stores/user.js
  test/dummy/frontend/js/views/user/articles/Form.js
Due: prettier --write, eslint

[internal] store.js and actions.js (#9)
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/js/actions.js
  test/dummy/frontend/js/components/user/Article.js
  test/dummy/frontend/js/containers/admin/ArticleList.js
  test/dummy/frontend/js/containers/admin/UserList.js
  test/dummy/frontend/js/containers/main/articles/CommentList.js
  test/dummy/frontend/js/containers/main/articles/CommentsNumber.js
  test/dummy/frontend/js/containers/main/pages/ArticleList.js
  test/dummy/frontend/js/containers/main/pages/LoadMoreLink.js
  test/dummy/frontend/js/containers/user/ArticleList.js
  test/dummy/frontend/js/containers/user/Comment.js
  test/dummy/frontend/js/containers/user/CommentList.js
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/admin/Users.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/main/Pages.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/reducers/admin/articles.js
  test/dummy/frontend/js/reducers/admin/index.js
  test/dummy/frontend/js/reducers/articles.js
  test/dummy/frontend/js/reducers/comments.js
  test/dummy/frontend/js/reducers/index.js
  test/dummy/frontend/js/reducers/main/articles.js
  test/dummy/frontend/js/reducers/main/comments.js
  test/dummy/frontend/js/reducers/user/index.js
  test/dummy/frontend/js/reducers/users.js
  test/dummy/frontend/js/services/Connectivity.js
  test/dummy/frontend/js/store.js
  test/dummy/frontend/js/stores/admin.js
  test/dummy/frontend/js/stores/main.js
  test/dummy/frontend/js/stores/user.js
  test/dummy/frontend/js/views/user/articles/Form.js
Due: prettier --write, eslint

[internal] payload has been removed from actions
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/actions.js
  test/dummy/frontend/js/reducers/articles.js
  test/dummy/frontend/js/reducers/comments.js
  test/dummy/frontend/js/reducers/users.js
Due: prettier --write, eslint
