Repository locoframework/loco-rails: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix, bundle exec rubocop --force-exclusion

[test][dummy] refactor NC
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/services/NotificationCenter.js
Due: prettier --write, eslint

[test] Refactor and improve Rooms and NotificationCenter to improve message handling and disconnection feedback
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/controllers/user/Rooms.js
  test/dummy/frontend/js/services/NotificationCenter.js
  test/dummy/frontend/js/views/user/rooms/Show.js
  test/integration/user/real_snap_chat_test.rb
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

[test] update loco.js and align with disconnection removal
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/initializers/loco.js
  test/integration/disconnection_test.rb
  test/integration/user/real_snap_chat_test.rb
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

update deps + .eslintrc -> eslint.config.mjs
  .eslintrc
  .lintstagedrc
  .nvmrc
  .prettierignore
  eslint.config.mjs
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/js/containers/admin/ArticleList.js
  test/dummy/frontend/js/containers/main/pages/ArticleList.js
  test/dummy/frontend/js/containers/user/ArticleList.js
  test/dummy/frontend/js/containers/user/Comment.js
  test/dummy/frontend/js/containers/user/CommentList.js
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/admin/Users.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/main/Pages.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/reducers/articles.js
  test/dummy/frontend/js/reducers/comments.js
  test/dummy/frontend/js/services/Date.js
  test/dummy/frontend/js/services/NotificationCenter.js
  test/dummy/frontend/js/validators/Vulgarity.js
  test/dummy/frontend/js/views/admin/articles/Edit.js
  test/dummy/frontend/js/views/user/articles/Form.js
  test/dummy/frontend/js/views/user/articles/Show.js
  test/dummy/frontend/js/views/user/rooms/List.js
  test/dummy/frontend/js/views/user/rooms/Show.js
Due: prettier --write, eslint

npm run format
  .babelrc
  .lintstagedrc
  .prettierignore
  .stylelintrc
  test/dummy/public/400.html
  test/dummy/public/404.html
  test/dummy/public/406-unsupported-browser.html
  test/dummy/public/422.html
  test/dummy/public/500.html
Due: none

config refactoring
  eslint.config.mjs
  package.json
Due: none

Remove unused import resolver configuration from ESLint settings
  eslint.config.mjs
Due: none

update stylelint
  .stylelintrc
  .stylelintrc.mjs
  package.json
  test/dummy/app/views/layouts/admin.html.erb
  test/dummy/app/views/layouts/user.html.erb
  test/dummy/app/views/main/articles/show.html.erb
  test/dummy/app/views/main/pages/index.html.erb
  test/dummy/app/views/user/rooms/show.html.erb
  test/dummy/frontend/css/global.css
Due: prettier --write, stylelint --fix

update lint-staged
  .husky/pre-commit
  .lintstagedrc
Due: none

Refactor lint-staged configuration to simplify file patterns for JavaScript and CSS
  .lintstagedrc
Due: none

[test] bundles
  test/dummy/app/assets/bundles/application.css
  test/dummy/app/assets/bundles/application.css.map
Due: none

Update CSS styles and remove unused PostCSS plugins
  package-lock.json
  package.json
  postcss.config.js
  test/dummy/app/assets/bundles/application.css
  test/dummy/app/assets/bundles/application.css.map
  test/dummy/frontend/css/global.css
Due: prettier --write, eslint, stylelint --fix

update webpack config
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.css
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: prettier --write, eslint

update front-end deps
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.LICENSE.txt
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/index.js
  test/dummy/frontend/js/reducers/articles.js
  test/dummy/frontend/js/reducers/comments.js
  test/dummy/frontend/js/reducers/users.js
Due: prettier --write, eslint

[dummy][frontend] fix
  test/dummy/frontend/js/services/NotificationCenter.js
Due: prettier --write, eslint

[test][dummy] Update Redux store import to use legacy_createStore for compatibility
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/js/store.js
Due: prettier --write, eslint

[test] build
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
Due: prettier --write, eslint

update deps
  Gemfile.lock
Due: none

simpicit
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/admin/Comments.js
  test/dummy/frontend/js/controllers/admin/Users.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/controllers/user/Rooms.js
  test/dummy/frontend/js/initializers/loco-core.js
Due: prettier --write, eslint

update README
  README.md
Due: none

no loco-rails-core
  Gemfile
  Gemfile.lock
  test/dummy/.ruby-version
  test/dummy/app/helpers/application_helper.rb
  test/dummy/app/views/layouts/admin.html.erb
  test/dummy/app/views/layouts/application.html.erb
  test/dummy/app/views/layouts/user.html.erb
Due: bundle exec rubocop --force-exclusion

simplicit 0.5.1
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.css
  test/dummy/app/assets/bundles/application.css.map
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.LICENSE.txt
  test/dummy/app/assets/bundles/vendor.js.map
Due: prettier --write, eslint

comment
  app/controllers/loco/notification_center_controller.rb
Due: bundle exec rubocop --force-exclusion

update backend deps
  Gemfile.lock
Due: none

refactor
  app/jobs/loco/sender_job.rb
Due: bundle exec rubocop --force-exclusion

ujs -> turbo
  test/dummy/app/views/layouts/admin.html.erb
  test/dummy/app/views/layouts/user.html.erb
Due: none

TODO
  test/dummy/config/environments/development.rb
Due: bundle exec rubocop --force-exclusion

Enable ActionCable logging to stdout with warning level
  test/dummy/config/environments/development.rb
Due: bundle exec rubocop --force-exclusion

comment
  config/routes.rb
Due: bundle exec rubocop --force-exclusion

Rubocop
  .rubocop.yml
  app/services/loco/notification/fetcher.rb
  lib/generators/loco/file_injector/templates/connection.rb
  lib/loco/permissions_presenter.rb
  test/dummy/app/channels/application_cable/connection.rb
  test/dummy/app/controllers/admin/articles_controller.rb
  test/dummy/app/controllers/admin/comments_controller.rb
  test/dummy/app/controllers/admin/sessions_controller.rb
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/controllers/application_controller.rb
  test/dummy/app/controllers/main/articles_controller.rb
  test/dummy/app/controllers/main/comments_controller.rb
  test/dummy/app/controllers/main/users_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/app/controllers/user/rooms_controller.rb
  test/dummy/app/models/user.rb
  test/dummy/app/views/admin/users/_user.json.jbuilder
Due: bundle exec rubocop --force-exclusion

README
  README.md
Due: none

README
  README.md
  docs/EXAMPLES.md
  test/dummy/app/services/maintain_room_members.rb
Due: bundle exec rubocop --force-exclusion

refactor
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/models/Room.js
  test/dummy/frontend/js/models/User.js
  test/dummy/frontend/js/models/article/Comment.js
  test/dummy/frontend/js/models/room/Member.js
Due: prettier --write, eslint

refactor
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/views/user/rooms/Show.js
Due: prettier --write, eslint

README
  README.md
  test/dummy/app/controllers/user/rooms_controller.rb
Due: bundle exec rubocop --force-exclusion

docs + reduce
  README.md
  app/models/loco/notification.rb
  db/migrate/20150927133812_create_loco_notifications.rb
Due: bundle exec rubocop --force-exclusion

improvements + README
  README.md
  app/models/loco/notification.rb
  lib/loco-rails.rb
Due: bundle exec rubocop --force-exclusion

Path conditions:
  prettier --write: ((any of: ./*.js) or (any of: test/dummy/frontend/**/*.js)) or (any of: test/dummy/frontend/**/*.css)
  eslint: (any of: ./*.js) or (any of: test/dummy/frontend/**/*.js)
  stylelint --fix: any of: test/dummy/frontend/**/*.css
  bundle exec rubocop --force-exclusion: any of: *.{gemspec,rb}
