Repository locoframework/loco-rails: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix, bundle exec rubocop --force-exclusion

.lintstagedrc:

{
  "./*.js": [
    "prettier --write",
    "eslint",
    "git add"
  ],
  "test/dummy/frontend/**/*.js": [
    "prettier --write",
    "eslint",
    "git add"
  ],
  "test/dummy/frontend/**/*.css": [
    "prettier --write",
    "stylelint --fix",
    "git add"
  ],
  "*.{gemspec,rb}": [
    "bundle exec rubocop --force-exclusion",
    "git add"
  ]
}

[doc]
  README.md
Due: none

[test] bump loco-js
  Gemfile.lock
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/config/application.rb
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

[internal] make all Emitter methods available as module_function
  lib/generators/loco/file_injector/templates/application_controller.rb
  lib/generators/loco/notification_center/templates/services/loco/notification_center.rb
  lib/loco-rails.rb
  lib/loco/emitter.rb
  test/dummy/app/services/hub_finder.rb
  test/dummy/app/services/loco/notification_center.rb
  test/integration/admin/articles_list_test.rb
  test/integration/admin/edit_comment_test.rb
  test/integration/admin/review_article_test.rb
  test/integration/admin/users_section_test.rb
  test/integration/main/article_page_test.rb
  test/integration/main/main_page_test.rb
  test/integration/signing_up_test.rb
  test/integration/user/article_edit_page_test.rb
  test/integration/user/article_show_page_test.rb
  test/integration/user/articles_list_test.rb
  test/integration/user/direct_communication_test.rb
  test/integration/user/real_snap_chat_test.rb
  test/services/loco/notification/fetcher_test.rb
  test/support/admin_helpers.rb
  test/support/common_helpers.rb
  test/support/user_helpers.rb
Due: bundle exec rubocop --force-exclusion

[doc] README
  README.md
Due: none

[ver] 6.1.0
  Gemfile.lock
  README.md
  lib/loco/emitter.rb
  lib/loco/version.rb
Due: bundle exec rubocop --force-exclusion

[feature] update deps + required_ruby_version >= 3.0.0 + explicit Redis instance
  .rubocop.yml
  Gemfile.lock
  lib/loco/config.rb
  lib/loco/permissions_presenter.rb
  loco-rails.gemspec
  test/dummy/.ruby-version
  test/dummy/app/models/user.rb
  test/dummy/config/environments/production.rb
  test/test_helper.rb
Due: bundle exec rubocop --force-exclusion

update frontend for test/dummy
  .eslintrc
  .nvmrc
  package-lock.json
  package.json
  postcss.config.js
  test/dummy/app/assets/bundles/application.css
  test/dummy/app/assets/bundles/application.css.map
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.LICENSE.txt
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/index.js
  test/dummy/frontend/js/services/NotificationCenter.js
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: prettier --write, eslint

[internal] update frontend for test/dummy (#85)
  .eslintrc
  .nvmrc
  package-lock.json
  package.json
  postcss.config.js
  test/dummy/app/assets/bundles/application.css
  test/dummy/app/assets/bundles/application.css.map
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.LICENSE.txt
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/index.js
  test/dummy/frontend/js/services/NotificationCenter.js
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: prettier --write, eslint

[internal] update front-end deps
  package-lock.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
Due: prettier --write, eslint

[internal] update front-end deps (#86)
  package-lock.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
Due: prettier --write, eslint

update deps
  Gemfile.lock
Due: none

[internal] update deps (#89)
  Gemfile.lock
Due: none

[ver] 6.1.1
  Gemfile.lock
  lib/loco/version.rb
  loco-rails.gemspec
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

[ver] 6.1.1 (#90)
  Gemfile.lock
  lib/loco/version.rb
  loco-rails.gemspec
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

[ver] 6.2.0
  Gemfile.lock
  lib/loco/version.rb
Due: bundle exec rubocop --force-exclusion

[ver] 6.2.0 (#91)
  Gemfile.lock
  lib/loco/version.rb
Due: bundle exec rubocop --force-exclusion

update dev deps
  package-lock.json
  package.json
Due: none

[internal] update dev deps (#94)
  package-lock.json
  package.json
Due: none

update deps
  .nvmrc
  .rubocop.yml
  Gemfile.lock
  loco-rails.gemspec
  package-lock.json
  test/dummy/.ruby-version
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/config/application.rb
  test/dummy/config/environments/development.rb
  test/dummy/config/environments/production.rb
  test/dummy/config/environments/test.rb
  test/test_helper.rb
Due: bundle exec rubocop --force-exclusion

Rubocop
  .rubocop.yml
  Gemfile
  app/channels/loco/notification_center_channel.rb
  app/controllers/loco/notification_center_controller.rb
  lib/loco/broadcaster.rb
  lib/loco/hub.rb
  lib/loco/ws_connection_storage.rb
  loco-rails.gemspec
  test/dummy/app/controllers/application_controller.rb
  test/dummy/app/controllers/main/users_controller.rb
  test/dummy/app/controllers/user/sessions_controller.rb
  test/dummy/app/services/loco/notification_center.rb
  test/dummy/config/environments/development.rb
  test/dummy/config/environments/production.rb
  test/dummy/config/environments/test.rb
  test/dummy/config/initializers/loco.rb
  test/integration/user/real_snap_chat_test.rb
  test/support/common_helpers.rb
  test/test_helper.rb
Due: bundle exec rubocop --force-exclusion

Remove deprecation warnings
  app/models/loco/notification.rb
  test/test_helper.rb
Due: bundle exec rubocop --force-exclusion

Add gem 'loco-rails-core' to Gemfile
  Gemfile
  Gemfile.lock
  lib/generators/loco/install/install_generator.rb
  lib/loco-rails.rb
  lib/loco/helpers.rb
  loco-rails.gemspec
  test/dummy/app/helpers/application_helper.rb
Due: bundle exec rubocop --force-exclusion

[feature] update migration + indices
  Gemfile.lock
  README.md
  app/models/loco/notification.rb
  db/migrate/20150927133812_create_loco_notifications.rb
  db/migrate/20240211210452_add_indexes_to_loco_notifications.rb
  loco-rails.gemspec
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/db/schema.rb
  test/integration/user/article_edit_page_test.rb
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

[ver] 7.0.0.pre
  Gemfile.lock
  lib/loco/version.rb
Due: bundle exec rubocop --force-exclusion

update test
  test/integration/user/article_edit_page_test.rb
Due: bundle exec rubocop --force-exclusion

[ver] 7.0.0.pre (#104)
  .nvmrc
  .rubocop.yml
  Gemfile
  Gemfile.lock
  README.md
  app/channels/loco/notification_center_channel.rb
  app/controllers/loco/notification_center_controller.rb
  app/models/loco/notification.rb
  db/migrate/20150927133812_create_loco_notifications.rb
  db/migrate/20240211210452_add_indexes_to_loco_notifications.rb
  lib/generators/loco/install/install_generator.rb
  lib/loco-rails.rb
  lib/loco/broadcaster.rb
  lib/loco/helpers.rb
  lib/loco/hub.rb
  lib/loco/version.rb
  lib/loco/ws_connection_storage.rb
  loco-rails.gemspec
  package-lock.json
  package.json
  test/dummy/.ruby-version
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/app/controllers/application_controller.rb
  test/dummy/app/controllers/main/users_controller.rb
  test/dummy/app/controllers/user/sessions_controller.rb
  test/dummy/app/helpers/application_helper.rb
  test/dummy/app/services/loco/notification_center.rb
  test/dummy/config/application.rb
  test/dummy/config/environments/development.rb
  test/dummy/config/environments/production.rb
  test/dummy/config/environments/test.rb
  test/dummy/config/initializers/loco.rb
  test/dummy/db/schema.rb
  test/integration/user/article_edit_page_test.rb
  test/integration/user/real_snap_chat_test.rb
  test/support/common_helpers.rb
  test/test_helper.rb
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

All tests pass
  .babelrc
  Gemfile
  Gemfile.lock
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/config/environments/development.rb
  test/dummy/frontend/index.js
  test/dummy/frontend/js/controllers/Admin.js
  test/dummy/frontend/js/controllers/Base.js
  test/dummy/frontend/js/controllers/Main.js
  test/dummy/frontend/js/controllers/User.js
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/admin/Comments.js
  test/dummy/frontend/js/controllers/admin/Users.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/controllers/user/Rooms.js
  test/dummy/frontend/js/initializers/loco-core.js
  test/dummy/frontend/js/initializers/loco.js
  test/dummy/frontend/js/locales/base/pl.js
  test/dummy/frontend/js/locales/models/user/pl.js
  test/dummy/frontend/js/locales/services/en.Date.js
  test/dummy/frontend/js/locales/validators/en.vulgarity.js
  test/dummy/frontend/js/locales/validators/pl.vulgarity.js
  test/dummy/frontend/js/models/Article.js
  test/dummy/frontend/js/models/Room.js
  test/dummy/frontend/js/models/User.js
  test/dummy/frontend/js/models/article/Comment.js
  test/dummy/frontend/js/models/room/Member.js
  test/dummy/frontend/js/services/Date.js
  test/dummy/frontend/js/services/NotificationCenter.js
  test/dummy/frontend/js/validators/Vulgarity.js
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

refactoring
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/index.js
  test/dummy/frontend/js/initializers/loco-ui.js
  test/dummy/frontend/js/initializers/loco.js
Due: prettier --write, eslint

adjust dummy app
  Gemfile
  Gemfile.lock
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.LICENSE.txt
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/index.js
  test/dummy/frontend/js/controllers/User.js
  test/dummy/frontend/js/initializers/loco-core.js
  test/dummy/frontend/js/initializers/turbo-rails.js
Due: prettier --write, eslint

[test/dummy] disable turbo drive on login forms
  test/dummy/app/views/shared/_sign_in_form.html.erb
Due: none

[test/dummy] turbo:load only
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/initializers/loco-core.js
  test/integration/user/real_snap_chat_test.rb
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

[test/dummy] controller.cleanup();
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/controllers/user/Rooms.js
  test/dummy/frontend/js/initializers/loco-core.js
  test/dummy/frontend/js/views/user/rooms/List.js
  test/dummy/frontend/js/views/user/rooms/Show.js
Due: prettier --write, eslint

update deps
  .gitignore
  Gemfile
  Gemfile.lock
  README.md
  docker-compose.yml
  loco-rails.gemspec
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/app/views/admin/users/_form.html.erb
  test/dummy/app/views/user/articles/_form.html.erb
  test/dummy/config/application.rb
  test/dummy/config/database.yml
  test/dummy/config/environments/development.rb
  test/dummy/config/environments/production.rb
  test/dummy/config/environments/test.rb
  test/dummy/db/schema.rb
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/reducers/articles.js
  test/dummy/frontend/js/views/user/articles/Form.js
  test/test_helper.rb
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

eslint
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/services/NotificationCenter.js
Due: prettier --write, eslint

bug fix
  lib/loco/permissions_presenter.rb
  lib/loco/ws_connection_identifier.rb
  test/dummy/app/channels/application_cable/connection.rb
  test/dummy/app/controllers/admin/articles_controller.rb
  test/dummy/app/controllers/admin/comments_controller.rb
  test/dummy/app/controllers/admin/sessions_controller.rb
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/controllers/application_controller.rb
  test/dummy/app/controllers/main/users_controller.rb
  test/dummy/app/models/admin.rb
  test/dummy/app/models/admin/support_member.rb
  test/dummy/db/migrate/20151014102102_create_admins.rb
  test/dummy/db/migrate/20241020200519_create_admin_support_members.rb
  test/dummy/db/schema.rb
  test/dummy/db/seeds.rb
  test/fixtures/admin/support_members.yml
  test/integration/admin/articles_list_test.rb
  test/integration/admin/edit_comment_test.rb
  test/integration/admin/review_article_test.rb
  test/integration/admin/users_section_test.rb
  test/loco/broadcaster_test.rb
  test/loco/permissions_presenter_test.rb
  test/loco/sender_test.rb
  test/loco/ws_connection_checker_test.rb
  test/loco/ws_connection_finder_test.rb
  test/loco/ws_connection_identifier_test.rb
  test/services/loco/notification/fetcher_test.rb
  test/support/ws_helpers.rb
Due: bundle exec rubocop --force-exclusion

improve
  lib/loco-rails.rb
  lib/loco/broadcaster.rb
  lib/loco/sender.rb
  test/loco/broadcaster_test.rb
Due: bundle exec rubocop --force-exclusion

[experimental] new emit
  lib/loco-rails.rb
  test/dummy/app/controllers/application_controller.rb
Due: bundle exec rubocop --force-exclusion

emit_to -> emit in tests
  lib/loco-rails.rb
  test/integration/user/real_snap_chat_test.rb
Due: bundle exec rubocop --force-exclusion

cut emit_to
  Gemfile.lock
  lib/loco-rails.rb
  lib/loco/emitter.rb
  test/dummy/app/controllers/main/users_controller.rb
  test/dummy/app/services/loco/notification_center.rb
  test/integration/user/direct_communication_test.rb
  test/integration/user/real_snap_chat_test.rb
Due: bundle exec rubocop --force-exclusion

Document breaking change: remove `Loco.emit_to` in upcoming 7.0 release
  README.md
  lib/loco-rails.rb
Due: bundle exec rubocop --force-exclusion
