Repository locoframework/loco-rails: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix, bundle exec rubocop --force-exclusion

.lintstagedrc:

{
  "./*.js": [
    "prettier --write",
    "eslint",
    "git add"
  ],
  "test/dummy/frontend/**/*.js": [
    "prettier --write",
    "eslint",
    "git add"
  ],
  "test/dummy/frontend/**/*.css": [
    "prettier --write",
    "stylelint --fix",
    "git add"
  ],
  "*.{gemspec,rb}": [
    "bundle exec rubocop --force-exclusion",
    "git add"
  ]
}

[test] unneeded code was removed
  package-lock.json
  test/dummy/app/assets/bundles/application.css
  test/dummy/app/assets/bundles/application.css.map
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/app/views/main/articles/show.html.erb
  test/dummy/app/views/main/users/new.html.erb
  test/dummy/app/views/user/articles/_form.html.erb
  test/dummy/app/views/user/rooms/_form.html.erb
  test/dummy/frontend/css/scaffold.css
Due: prettier --write, eslint, stylelint --fix

[test] fixes (#20)
  .lintstagedrc
  package-lock.json
  test/dummy/app/assets/bundles/application.css
  test/dummy/app/assets/bundles/application.css.map
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/app/models/article.rb
  test/dummy/app/views/admin/articles/edit.html.erb
  test/dummy/app/views/admin/users/_form.html.erb
  test/dummy/app/views/main/articles/show.html.erb
  test/dummy/app/views/main/users/new.html.erb
  test/dummy/app/views/user/articles/_form.html.erb
  test/dummy/app/views/user/rooms/_form.html.erb
  test/dummy/frontend/css/scaffold.css
  test/integration/admin/review_article_test.rb
  test/integration/main/article_page_test.rb
Due: prettier --write, eslint, stylelint --fix, bundle exec rubocop --force-exclusion

[test] different setup of loco ecosystem
  test/dummy/frontend/js/initializers/loco.js
Due: prettier --write, eslint

[test] locales
  test/dummy/frontend/js/locales/index.js
  test/dummy/frontend/js/locales/services/en.Date.js
Due: prettier --write, eslint

[test] import { emit }
  test/dummy/frontend/js/components/admin/User.js
  test/dummy/frontend/js/views/user/rooms/Show.js
Due: prettier --write, eslint

[test] NotificationCenter is a function
  test/dummy/frontend/js/services/NotificationCenter.js
Due: prettier --write, eslint

[test] no Connectivity
  test/dummy/frontend/js/initializers/loco.js
  test/dummy/frontend/js/services/Connectivity.js
  test/dummy/frontend/js/services/NotificationCenter.js
Due: prettier --write, eslint

[test] connectWith => subscribe
  test/dummy/frontend/js/views/user/rooms/Show.js
Due: prettier --write, eslint

[test] connectWith => subscribe
  test/dummy/frontend/js/views/admin/articles/Edit.js
  test/dummy/frontend/js/views/user/rooms/Show.js
Due: prettier --write, eslint

[test] connectWith => subscribe
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/views/main/articles/Show.js
Due: prettier --write, eslint

connectWith => subscribe
  test/dummy/frontend/js/selectors/index.js
  test/dummy/frontend/js/views/main/users/UserRegistrationForm.js
  test/dummy/frontend/js/views/user/articles/Show.js
Due: prettier --write, eslint

[test] fix
  test/dummy/frontend/js/views/admin/articles/Edit.js
  test/dummy/frontend/js/views/main/articles/Show.js
  test/dummy/frontend/js/views/user/rooms/Show.js
Due: prettier --write, eslint

[test] connectWith => subscribe
  test/dummy/frontend/js/views/user/articles/Form.js
Due: prettier --write, eslint

[test] no connectWith
  test/dummy/frontend/js/views/user/rooms/List.js
Due: prettier --write, eslint

[test] view as function
  test/dummy/frontend/js/controllers/user/Rooms.js
  test/dummy/frontend/js/views/user/rooms/List.js
Due: prettier --write, eslint

[test] refactoring
  test/dummy/frontend/js/controllers/user/Rooms.js
  test/dummy/frontend/js/services/NotificationCenter.js
  test/dummy/frontend/js/views/user/rooms/Show.js
Due: prettier --write, eslint

[test] keep up with changes / refactoring
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/controllers/user/Rooms.js
  test/dummy/frontend/js/services/NotificationCenter.js
  test/dummy/frontend/js/views/admin/articles/Edit.js
  test/dummy/frontend/js/views/admin/articles/Form.js
  test/dummy/frontend/js/views/admin/comments/Form.js
  test/dummy/frontend/js/views/admin/sessions/Form.js
  test/dummy/frontend/js/views/admin/users/Form.js
  test/dummy/frontend/js/views/admin/users/Show.js
  test/dummy/frontend/js/views/layouts/User.js
  test/dummy/frontend/js/views/main/articles/Show.js
  test/dummy/frontend/js/views/main/users/UserRegistrationForm.js
  test/dummy/frontend/js/views/shared/Flash.js
  test/dummy/frontend/js/views/user/articles/Form.js
  test/dummy/frontend/js/views/user/articles/Show.js
Due: prettier --write, eslint

[test] no Views.Base
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/admin/Comments.js
  test/dummy/frontend/js/controllers/admin/Users.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/controllers/user/Rooms.js
  test/dummy/frontend/js/views/admin/articles/Edit.js
  test/dummy/frontend/js/views/admin/articles/Form.js
  test/dummy/frontend/js/views/admin/comments/Form.js
  test/dummy/frontend/js/views/admin/sessions/Form.js
  test/dummy/frontend/js/views/admin/users/Form.js
  test/dummy/frontend/js/views/admin/users/Show.js
  test/dummy/frontend/js/views/main/articles/Show.js
  test/dummy/frontend/js/views/main/users/UserRegistrationForm.js
  test/dummy/frontend/js/views/shared/Flash.js
  test/dummy/frontend/js/views/user/articles/Form.js
  test/dummy/frontend/js/views/user/articles/Show.js
Due: prettier --write, eslint

[test] params() => params
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/admin/Comments.js
  test/dummy/frontend/js/controllers/admin/Users.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/controllers/user/Rooms.js
Due: prettier --write, eslint

[test] refactoring
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/views/shared/Flash.js
Due: prettier --write, eslint

[test] refactoring
  test/dummy/frontend/js/controllers/user/Rooms.js
  test/dummy/frontend/js/views/user/rooms/Show.js
Due: prettier --write, eslint

[test] refactoring
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/views/user/articles/Form.js
  test/dummy/frontend/js/views/user/articles/Show.js
Due: prettier --write, eslint

[test] refactoring
  test/dummy/frontend/js/controllers/concerns/Disconnection.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/views/main/articles/Show.js
  test/dummy/frontend/js/views/main/users/UserRegistrationForm.js
  test/dummy/frontend/js/views/shared/Flash.js
  test/dummy/frontend/js/views/user/articles/Form.js
  test/dummy/frontend/js/views/user/articles/Show.js
Due: prettier --write, eslint

[test] refactoring
  test/dummy/frontend/js/controllers/admin/Sessions.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/main/Users.js
  test/dummy/frontend/js/views/admin/sessions/Form.js
  test/dummy/frontend/js/views/main/articles/Show.js
  test/dummy/frontend/js/views/main/users/UserRegistrationForm.js
Due: prettier --write, eslint

[test] refactoring
  test/dummy/frontend/js/controllers/admin/Users.js
  test/dummy/frontend/js/views/admin/users/Form.js
  test/dummy/frontend/js/views/admin/users/Show.js
  test/integration/main/main_page_test.rb
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

[test] refactoring - all views all functions or objects
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/admin/Comments.js
  test/dummy/frontend/js/views/admin/articles/Edit.js
  test/dummy/frontend/js/views/admin/articles/Form.js
  test/dummy/frontend/js/views/admin/comments/Form.js
Due: prettier --write, eslint

[test] cleaning
  test/dummy/frontend/js/models/Room.js
  test/dummy/frontend/js/models/User.js
  test/dummy/frontend/js/models/room/Member.js
  test/dummy/frontend/js/views/user/rooms/List.js
Due: prettier --write, eslint

[test]
  test/integration/disconnection_test.rb
Due: bundle exec rubocop --force-exclusion

[test]
  test/dummy/frontend/js/initializers/loco.js
  test/integration/disconnection_test.rb
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

[test]
  test/dummy/frontend/js/services/Date.js
  test/dummy/frontend/js/validators/Vulgarity.js
Due: prettier --write, eslint

[test] refactoring
  test/dummy/frontend/js/initializers/loco.js
Due: prettier --write, eslint

[test] refactoring
  test/dummy/frontend/index.js
  test/dummy/frontend/js/views/admin/comments/Form.js
  test/integration/admin/edit_comment_test.rb
  test/integration/disconnection_test.rb
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

[test] no Channels
  test/dummy/frontend/index.js
  test/support/capybara_offline.rb
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

[internal] deps updated + [test] refactoring
  Gemfile.lock
  test/dummy/frontend/js/services/NotificationCenter.js
  test/dummy/frontend/js/views/admin/articles/Edit.js
  test/dummy/frontend/js/views/main/articles/Show.js
Due: prettier --write, eslint

[feature] Loco.configure
  lib/generators/loco/initializer/templates/initializer.rb
  lib/loco-rails.rb
  package.json
  test/dummy/config/initializers/loco.rb
  test/services/loco/notification/fetcher_test.rb
Due: bundle exec rubocop --force-exclusion

[feature] block based configuration
  lib/generators/loco/initializer/templates/initializer.rb
  lib/loco-rails.rb
  lib/loco/config.rb
  test/dummy/config/initializers/loco.rb
  test/services/loco/notification/fetcher_test.rb
Due: bundle exec rubocop --force-exclusion

[internal] rubocop
  app/channels/loco/notification_center_channel.rb
Due: bundle exec rubocop --force-exclusion

[internal] send idempotency_key
  lib/loco/sender.rb
Due: bundle exec rubocop --force-exclusion

[test] Idempotency keys
  test/dummy/frontend/js/views/user/rooms/Show.js
  test/integration/user/real_snap_chat_test.rb
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

[test] improvements for dummy
  test/dummy/app/views/admin/comments/edit.html.erb
Due: none
