Repository locoframework/loco-rails: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix, bundle exec rubocop --force-exclusion

remove Loco::Emitter
  README.md
  lib/loco-rails.rb
  lib/loco/emitter.rb
  test/dummy/app/controllers/admin/comments_controller.rb
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/controllers/application_controller.rb
  test/dummy/app/controllers/main/comments_controller.rb
  test/dummy/app/controllers/main/users_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/app/controllers/user/rooms_controller.rb
Due: bundle exec rubocop --force-exclusion

refactoring
  lib/loco-rails.rb
Due: bundle exec rubocop --force-exclusion

refactoring
  README.md
  test/dummy/app/services/loco/notification_center.rb
  test/integration/user/direct_communication_test.rb
  test/integration/user/real_snap_chat_test.rb
Due: bundle exec rubocop --force-exclusion

cut unused code
  lib/loco-rails.rb
Due: bundle exec rubocop --force-exclusion

README
  README.md
Due: none

convert test to new emit format
  README.md
  lib/loco-rails.rb
  test/dummy/app/controllers/admin/users_controller.rb
Due: bundle exec rubocop --force-exclusion

[test] new emit format
  lib/loco-rails.rb
  test/dummy/app/controllers/admin/comments_controller.rb
  test/dummy/app/controllers/main/users_controller.rb
Due: bundle exec rubocop --force-exclusion

[test] new emit format
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/controllers/main/comments_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/app/controllers/user/rooms_controller.rb
Due: bundle exec rubocop --force-exclusion

refactor
  lib/loco-rails.rb
Due: bundle exec rubocop --force-exclusion

bring back emit_to
  README.md
  lib/loco-rails.rb
  test/integration/user/direct_communication_test.rb
Due: bundle exec rubocop --force-exclusion

fix
  README.md
  lib/loco-rails.rb
Due: bundle exec rubocop --force-exclusion

[test] delete Connection
  test/dummy/.ruby-version
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/controllers/main/users_controller.rb
  test/dummy/app/models/connection.rb
  test/dummy/app/models/user.rb
  test/dummy/db/migrate/20250516121954_drop_connections.rb
  test/dummy/db/migrate/20250516121955_add_token_to_users.rb
  test/dummy/db/schema.rb
  test/fixtures/users.yml
  test/integration/signing_up_test.rb
Due: bundle exec rubocop --force-exclusion

'silencer' gem + fix
  Gemfile
  Gemfile.lock
  app/models/loco/notification.rb
  test/dummy/app/controllers/user/rooms_controller.rb
  test/dummy/config/environments/development.rb
  test/dummy/config/initializers/silencer.rb
Due: bundle exec rubocop --force-exclusion

Loco::Notification - remove validation
  app/models/loco/notification.rb
  lib/loco-rails.rb
Due: bundle exec rubocop --force-exclusion

[tmp] console.log
  test/dummy/frontend/js/services/NotificationCenter.js
Due: prettier --write, eslint

[feature] emit without subject
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/controllers/main/users_controller.rb
  test/dummy/frontend/js/services/NotificationCenter.js
  test/dummy/frontend/js/views/main/users/UserRegistrationForm.js
  test/integration/signing_up_test.rb
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

optimization
  lib/loco/broadcaster.rb
  test/loco/broadcaster_test.rb
Due: bundle exec rubocop --force-exclusion

[test] fix
  test/support/capybara_offline.rb
Due: bundle exec rubocop --force-exclusion

[test] build
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
Due: prettier --write, eslint

[fix] tests
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/support/capybara_offline.rb
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

[bundle]
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
Due: prettier --write, eslint

[test] bundle
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
Due: prettier --write, eslint

refactoring
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/support/capybara_offline.rb
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

[test] fix
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/views/user/rooms/List.js
  test/support/user_helpers.rb
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

[build]
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
Due: prettier --write, eslint

ephemeral/persistent buttons + request
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/views/user/rooms/show.html.erb
  test/dummy/frontend/js/views/user/rooms/Show.js
Due: prettier --write, eslint

refactor
  lib/loco-rails.rb
  lib/loco/broadcaster.rb
  lib/loco/payload.rb
  lib/loco/sender.rb
Due: bundle exec rubocop --force-exclusion

refactor
  lib/loco/broadcaster.rb
Due: bundle exec rubocop --force-exclusion

Refactor recipient processing and member retrieval in Loco module; update notification center to handle persistent message types.
  lib/loco/broadcaster.rb
  lib/loco/hub.rb
  lib/loco/ws_connection_finder.rb
  test/dummy/app/services/loco/notification_center.rb
Due: bundle exec rubocop --force-exclusion

persistent msgs work
  test/dummy/app/controllers/user/rooms_controller.rb
  test/dummy/app/models/message.rb
  test/dummy/app/models/room.rb
  test/dummy/app/models/user.rb
  test/dummy/app/services/loco/notification_center.rb
  test/dummy/app/views/user/rooms/show.html.erb
  test/dummy/db/migrate/20250704040330_create_messages.rb
  test/dummy/db/schema.rb
Due: bundle exec rubocop --force-exclusion

[test]
  test/dummy/app/controllers/user/rooms_controller.rb
  test/integration/user/real_snap_chat_test.rb
Due: bundle exec rubocop --force-exclusion

[test]
  test/integration/user/real_snap_chat_test.rb
Due: bundle exec rubocop --force-exclusion

Path conditions:
  prettier --write: ((any of: ./*.js) or (any of: test/dummy/frontend/**/*.js)) or (any of: test/dummy/frontend/**/*.css)
  eslint: (any of: ./*.js) or (any of: test/dummy/frontend/**/*.js)
  stylelint --fix: any of: test/dummy/frontend/**/*.css
  bundle exec rubocop --force-exclusion: any of: *.{gemspec,rb}
