Repository locoframework/loco-rails: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, bundle exec rubocop --force-exclusion

.lintstagedrc:

{
  "**/*.js": ["prettier --write", "eslint --fix"],
  "**/*.css": ["prettier --write", "stylelint --fix"],
  "*.{gemspec,rb}": ["bundle exec rubocop --force-exclusion"]
}

refactor
  test/dummy/app/controllers/admin/sessions_controller.rb
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/db/query.rb
  test/dummy/app/db/query/user.rb
Due: bundle exec rubocop --force-exclusion

-
  test/dummy/app/controllers/concerns/.keep
Due: none

refactor
  test/dummy/app/controllers/admin/articles_controller.rb
  test/dummy/app/controllers/main/articles_controller.rb
  test/dummy/app/controllers/main/comments_controller.rb
  test/dummy/app/controllers/main/pages_controller.rb
  test/dummy/app/db/query/article.rb
  test/dummy/app/views/main/pages/index.html.erb
Due: bundle exec rubocop --force-exclusion

reduce
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/controllers/main/users_controller.rb
  test/dummy/frontend/js/views/main/users/UserRegistrationForm.js
Due: prettier --write, eslint --fix, bundle exec rubocop --force-exclusion

refactor
  test/dummy/app/controllers/user/articles_controller.rb
Due: bundle exec rubocop --force-exclusion

refactor - in progress
  test/dummy/app/controllers/admin/articles_controller.rb
  test/dummy/app/controllers/admin/comments_controller.rb
  test/dummy/app/controllers/admin/sessions_controller.rb
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/controllers/application_controller.rb
  test/dummy/app/controllers/main/comments_controller.rb
  test/dummy/app/controllers/main/users_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
Due: bundle exec rubocop --force-exclusion

refactor
  test/dummy/app/controllers/admin/articles_controller.rb
  test/dummy/app/controllers/admin/comments_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
Due: bundle exec rubocop --force-exclusion

refactor
  test/dummy/app/controllers/user/comments_controller.rb
Due: bundle exec rubocop --force-exclusion

refactor
  test/dummy/app/controllers/user/rooms_controller.rb
  test/dummy/app/controllers/user/sessions_controller.rb
Due: bundle exec rubocop --force-exclusion

reduce views
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/views/admin/articles/edit.html.erb
  test/dummy/app/views/layouts/_flash.html.erb
  test/dummy/app/views/main/articles/show.html.erb
  test/dummy/app/views/user/articles/_form.html.erb
  test/dummy/app/views/user/articles/show.html.erb
  test/dummy/app/views/user/rooms/show.html.erb
  test/dummy/frontend/js/components/shared/NoComments.js
  test/dummy/frontend/js/models/article/Comment.js
Due: prettier --write, eslint --fix

user/components
  test/dummy/app/views/user/components/_room_chat.html.erb
  test/dummy/app/views/user/rooms/show.html.erb
Due: none

refactor
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/services/NotificationCenter.js
Due: prettier --write, eslint --fix

refactor
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/reactions/articles.js
Due: prettier --write, eslint --fix
