Repository locoframework/loco-rails: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, bundle exec rubocop --force-exclusion

refactor
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/reducers/index.js
  test/dummy/frontend/js/reducers/resourceReducer.js
Due: prettier --write, eslint --fix

ponytail-audit
  .lintstagedrc
  .stylelintrc.mjs
  README.md
  app/controllers/loco/application_controller.rb
  app/controllers/loco/notification_center_controller.rb
  app/models/loco/notification.rb
  app/services/loco/notification/fetcher.rb
  config/routes.rb
  docker-compose.yml
  lib/loco-rails.rb
  lib/loco/broadcaster.rb
  lib/loco/config.rb
  lib/loco/data.rb
  lib/loco/hub.rb
  lib/loco/permissions_presenter.rb
  lib/loco/ws_connection_checker.rb
  lib/loco/ws_connection_finder.rb
  lib/loco/ws_connection_manager.rb
  lib/loco/ws_connection_storage.rb
  package-lock.json
  package.json
  test/controllers/loco/notification_center_controller_test.rb
  test/loco/broadcaster_test.rb
  test/loco/data_test.rb
  test/loco/sender_test.rb
  test/loco/ws_connection_checker_test.rb
  test/loco/ws_connection_manager_test.rb
  test/loco/ws_connection_storage_test.rb
  test/loco_test.rb
  test/test_helper.rb
  webpack.common.js
  webpack.config.js
  webpack.dev.js
  webpack.prod.js
Due: prettier --write, eslint --fix, bundle exec rubocop --force-exclusion

build assets
  package-lock.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
Due: prettier --write, eslint --fix

update frontend deps
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
Due: prettier --write, eslint --fix

cutting out React in progress
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.LICENSE.txt
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/views/main/pages/index.html.erb
  test/dummy/frontend/index.js
  test/dummy/frontend/js/components/main/Article.js
  test/dummy/frontend/js/components/main/LoadMore.js
  test/dummy/frontend/js/containers/main/pages/ArticleList.js
  test/dummy/frontend/js/containers/main/pages/LoadMoreLink.js
  test/dummy/frontend/js/controllers/Main.js
  test/dummy/frontend/js/controllers/main/Pages.js
  test/dummy/frontend/js/initializers/simplicit.js
Due: prettier --write, eslint --fix

still in progress
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/initializers/loco-core.js
  test/dummy/frontend/js/models/Article.js
  test/dummy/frontend/js/models/LocoReactive.js
Due: prettier --write, eslint --fix

in progress
  test/dummy/frontend/js/containers/admin/ArticleList.js
  test/dummy/frontend/js/containers/admin/UserList.js
  test/dummy/frontend/js/containers/main/articles/CommentList.js
  test/dummy/frontend/js/containers/main/articles/CommentsNumber.js
  test/dummy/frontend/js/containers/user/ArticleList.js
  test/dummy/frontend/js/containers/user/CommentList.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/reactions/articles.js
  test/dummy/frontend/js/reactions/comments.js
  test/integration/admin/review_article_test.rb
Due: prettier --write, eslint --fix, bundle exec rubocop --force-exclusion

cleanup
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/index.js
  test/dummy/frontend/js/initializers/loco-core.js
  test/dummy/frontend/js/initializers/simplicit.js
  test/dummy/frontend/js/services/NotificationCenter.js
  test/dummy/frontend/js/services/namespace.js
Due: prettier --write, eslint --fix

improve
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/models/LocoReactive.js
Due: prettier --write, eslint --fix

in progress
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/views/admin/articles/published.html.erb
  test/dummy/frontend/js/components/admin/Article.js
  test/dummy/frontend/js/components/main/Article.js
  test/dummy/frontend/js/containers/admin/ArticleList.js
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/models/Article.js
  test/dummy/frontend/js/views/user/articles/Form.js
Due: prettier --write, eslint --fix

in progress
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/controllers/main/comments_controller.rb
  test/dummy/app/views/admin/users/index.html.erb
  test/dummy/app/views/main/articles/show.html.erb
  test/dummy/app/views/main/comments/_comment.json.jbuilder
  test/dummy/app/views/user/articles/index.html.erb
  test/dummy/frontend/js/components/admin/User.js
  test/dummy/frontend/js/components/main/Comment.js
  test/dummy/frontend/js/containers/admin/UserList.js
  test/dummy/frontend/js/containers/main/articles/CommentList.js
  test/dummy/frontend/js/containers/main/articles/CommentsNumber.js
  test/dummy/frontend/js/containers/user/ArticleList.js
  test/dummy/frontend/js/initializers/simplicit.js
Due: prettier --write, eslint --fix, bundle exec rubocop --force-exclusion

in progress
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/views/main/articles/show.html.erb
  test/dummy/frontend/js/components/admin/User.js
  test/dummy/frontend/js/components/main/CommentsCount.js
  test/dummy/frontend/js/components/main/NoComments.js
  test/dummy/frontend/js/components/user/Article.js
  test/dummy/frontend/js/controllers/admin/Users.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/initializers/simplicit.js
  test/dummy/frontend/js/models/Article.js
  test/dummy/frontend/js/models/LocoReactive.js
  test/dummy/frontend/js/models/User.js
  test/dummy/frontend/js/models/article/Comment.js
  test/dummy/frontend/js/reactions/articles.js
  test/dummy/frontend/js/reactions/comments.js
  test/dummy/frontend/js/reactions/users.js
Due: prettier --write, eslint --fix

del React and Redux
  .babelrc
  eslint.config.mjs
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.LICENSE.txt
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/app/views/admin/articles/edit.html.erb
  test/dummy/app/views/user/articles/_form.html.erb
  test/dummy/app/views/user/articles/edit.html.erb
  test/dummy/app/views/user/articles/show.html.erb
  test/dummy/frontend/js/components/admin/CommentList.js
  test/dummy/frontend/js/components/user/Comment.js
  test/dummy/frontend/js/components/user/CommentAdmin.js
  test/dummy/frontend/js/containers/user/Comment.js
  test/dummy/frontend/js/containers/user/CommentList.js
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/models/LocoReactive.js
  test/dummy/frontend/js/models/article/Comment.js
  test/dummy/frontend/js/reactions/articles.js
  test/dummy/frontend/js/reactions/comments.js
  test/dummy/frontend/js/reactions/users.js
  test/dummy/frontend/js/reducers/index.js
  test/dummy/frontend/js/reducers/resourceReducer.js
  test/dummy/frontend/js/selectors/createFinder.js
  test/dummy/frontend/js/selectors/index.js
  test/dummy/frontend/js/store.js
  test/dummy/frontend/js/views/admin/articles/Edit.js
  test/dummy/frontend/js/views/main/users/UserRegistrationForm.js
  test/dummy/frontend/js/views/user/articles/Form.js
  test/dummy/frontend/js/views/user/rooms/Show.js
  webpack.config.js
Due: prettier --write, eslint --fix, bundle exec rubocop --force-exclusion

as_of
  README.md
  app/models/loco/notification.rb
  lib/loco-rails.rb
  lib/loco/current.rb
  lib/loco/helpers.rb
  lib/loco/rails/engine.rb
  test/controllers/loco/model_records_test.rb
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/controllers/main/comments_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/app/views/admin/articles/edit.html.erb
  test/dummy/app/views/admin/articles/published.html.erb
  test/dummy/app/views/admin/users/index.html.erb
  test/dummy/app/views/main/articles/show.html.erb
  test/dummy/app/views/main/pages/index.html.erb
  test/dummy/app/views/user/articles/edit.html.erb
  test/dummy/app/views/user/articles/index.html.erb
  test/dummy/app/views/user/articles/show.html.erb
  test/dummy/frontend/index.js
  test/dummy/frontend/js/components/admin/User.js
  test/dummy/frontend/js/initializers/loco-ui.js
  test/dummy/frontend/js/initializers/loco.js
  test/dummy/frontend/js/initializers/simplicit.js
  test/dummy/frontend/js/reactions/articles.js
  test/dummy/frontend/js/reactions/comments.js
  test/dummy/frontend/js/services/loco.js
  test/dummy/frontend/js/views/main/users/UserRegistrationForm.js
  test/dummy/frontend/js/views/user/rooms/Show.js
  test/integration/main/main_page_test.rb
  test/models/loco/notification_test.rb
  test/support/common_helpers.rb
Due: prettier --write, eslint --fix, bundle exec rubocop --force-exclusion

More components - in progress
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/views/admin/articles/edit.html.erb
  test/dummy/app/views/admin/users/show.html.erb
  test/dummy/app/views/main/articles/show.html.erb
  test/dummy/app/views/user/articles/edit.html.erb
  test/dummy/app/views/user/articles/show.html.erb
  test/dummy/app/views/user/rooms/index.html.erb
  test/dummy/app/views/user/rooms/show.html.erb
  test/dummy/frontend/js/components/admin/ArticleReview.js
  test/dummy/frontend/js/components/admin/UserShow.js
  test/dummy/frontend/js/components/main/CommentsCount.js
  test/dummy/frontend/js/controllers/User.js
  test/dummy/frontend/js/controllers/admin/Users.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/user/Rooms.js
  test/dummy/frontend/js/models/Article.js
  test/dummy/frontend/js/models/User.js
  test/dummy/frontend/js/models/article/Comment.js
  test/dummy/frontend/js/services/namespace.js
  test/dummy/frontend/js/utils/inline.js
  test/dummy/frontend/js/views/admin/articles/Edit.js
  test/dummy/frontend/js/views/admin/users/Show.js
  test/dummy/frontend/js/views/main/articles/Show.js
  test/dummy/frontend/js/views/user/articles/Show.js
  test/dummy/frontend/js/views/user/rooms/List.js
  test/dummy/frontend/js/views/user/rooms/Show.js
  test/integration/main/article_page_test.rb
Due: prettier --write, eslint --fix, bundle exec rubocop --force-exclusion

More components - in progress
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/components/main/ArticleFull.js
  test/dummy/frontend/js/components/main/LoadMore.js
  test/dummy/frontend/js/components/user/ArticleShow.js
  test/test_helper.rb
Due: prettier --write, eslint --fix, bundle exec rubocop --force-exclusion

More components - in progress
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/views/layouts/_flash.html.erb
  test/dummy/app/views/layouts/admin.html.erb
  test/dummy/app/views/layouts/application.html.erb
  test/dummy/app/views/layouts/user.html.erb
  test/dummy/app/views/user/rooms/index.html.erb
  test/dummy/frontend/index.js
  test/dummy/frontend/js/components/admin/User.js
  test/dummy/frontend/js/components/shared/Flash.js
  test/dummy/frontend/js/components/user/Article.js
  test/dummy/frontend/js/initializers/loco.js
  test/dummy/frontend/js/initializers/simplicit.js
  test/dummy/frontend/js/models/Room.js
  test/dummy/frontend/js/services/NotificationCenter.js
  test/dummy/frontend/js/services/app.js
  test/dummy/frontend/js/services/loco.js
  test/dummy/frontend/js/views/main/users/UserRegistrationForm.js
  test/dummy/frontend/js/views/shared/Flash.js
  test/dummy/frontend/js/views/user/articles/Form.js
Due: prettier --write, eslint --fix

More components - completed
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/components/user/RoomChat.js
  test/dummy/frontend/js/components/user/RoomMembers.js
  test/dummy/frontend/js/components/user/RoomRow.js
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/admin/Users.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/reactions/articles.js
  test/dummy/frontend/js/reactions/rooms.js
  test/dummy/frontend/js/views/admin/users/Form.js
Due: prettier --write, eslint --fix

LocoReactive#changes()
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/models/LocoReactive.js
  test/dummy/frontend/js/views/user/articles/Form.js
Due: prettier --write, eslint --fix

no babel
  .babelrc
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  webpack.config.js
Due: prettier --write, eslint --fix

defer: true
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/views/layouts/_head.html.erb
  test/dummy/frontend/js/initializers/loco.js
  test/dummy/frontend/js/initializers/simplicit.js
Due: prettier --write, eslint --fix

inline export default
  test/dummy/frontend/js/components/admin/Article.js
  test/dummy/frontend/js/components/admin/ArticleReview.js
  test/dummy/frontend/js/components/admin/Comment.js
  test/dummy/frontend/js/components/admin/User.js
  test/dummy/frontend/js/components/admin/UserShow.js
  test/dummy/frontend/js/components/main/Article.js
  test/dummy/frontend/js/components/main/ArticleFull.js
  test/dummy/frontend/js/components/main/Comment.js
  test/dummy/frontend/js/components/main/LoadMore.js
  test/dummy/frontend/js/components/main/NoComments.js
  test/dummy/frontend/js/components/shared/Flash.js
  test/dummy/frontend/js/components/user/Article.js
  test/dummy/frontend/js/components/user/ArticleShow.js
  test/dummy/frontend/js/components/user/Comment.js
  test/dummy/frontend/js/components/user/CommentAdmin.js
  test/dummy/frontend/js/components/user/RoomChat.js
  test/dummy/frontend/js/components/user/RoomMembers.js
  test/dummy/frontend/js/components/user/RoomRow.js
  test/dummy/frontend/js/controllers/Admin.js
  test/dummy/frontend/js/controllers/Base.js
  test/dummy/frontend/js/controllers/Main.js
  test/dummy/frontend/js/controllers/User.js
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/admin/Comments.js
  test/dummy/frontend/js/controllers/admin/Sessions.js
  test/dummy/frontend/js/controllers/admin/Users.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/main/Users.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/initializers/simplicit.js
  test/dummy/frontend/js/models/Article.js
  test/dummy/frontend/js/models/LocoReactive.js
  test/dummy/frontend/js/models/Room.js
  test/dummy/frontend/js/models/User.js
  test/dummy/frontend/js/models/article/Comment.js
  test/dummy/frontend/js/models/room/Member.js
  test/dummy/frontend/js/services/CurrentUser.js
  test/dummy/frontend/js/services/Date.js
Due: prettier --write, eslint --fix

success: -> ok:
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/app/controllers/admin/articles_controller.rb
  test/dummy/app/controllers/admin/comments_controller.rb
  test/dummy/app/controllers/admin/sessions_controller.rb
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/controllers/application_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/frontend/js/components/user/Article.js
  test/dummy/frontend/js/models/LocoReactive.js
Due: prettier --write, eslint --fix, bundle exec rubocop --force-exclusion

refactor
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/components/user/Article.js
Due: prettier --write, eslint --fix

rubocop
  .rubocop.yml
  test/dummy/app/controllers/admin/sessions_controller.rb
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/app/controllers/user/rooms_controller.rb
  test/dummy/app/controllers/user/sessions_controller.rb
  test/dummy/config/locales/en.yml
Due: bundle exec rubocop --force-exclusion

[dummy] fix
  test/dummy/app/controllers/user/comments_controller.rb
Due: bundle exec rubocop --force-exclusion

[dummy] reduce
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/admin/Comments.js
  test/dummy/frontend/js/controllers/admin/Sessions.js
  test/dummy/frontend/js/views/admin/articles/Form.js
  test/dummy/frontend/js/views/admin/comments/Form.js
  test/dummy/frontend/js/views/admin/sessions/Form.js
Due: prettier --write, eslint --fix

refactor
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/controllers/Base.js
  test/dummy/frontend/js/controllers/main/Users.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/views/main/users/UserRegistrationForm.js
Due: prettier --write, eslint --fix

[test/dummy] refactor
  test/dummy/app/controllers/application_controller.rb
  test/dummy/app/controllers/main/comments_controller.rb
  test/dummy/app/controllers/main/users_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
Due: bundle exec rubocop --force-exclusion

refactor
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/controllers/admin/comments_controller.rb
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/controllers/main/comments_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/config/routes.rb
  test/dummy/frontend/js/models/Article.js
  test/dummy/frontend/js/models/User.js
  test/dummy/frontend/js/models/article/Comment.js
  test/dummy/frontend/js/models/room/Member.js
Due: prettier --write, eslint --fix, bundle exec rubocop --force-exclusion

actions - in progress
  test/dummy/app/actions/article/create.rb
  test/dummy/app/actions/article/destroy.rb
  test/dummy/app/actions/article/publish.rb
  test/dummy/app/actions/article/review.rb
  test/dummy/app/actions/article/start_editing.rb
  test/dummy/app/actions/article/update.rb
  test/dummy/app/actions/comment/create.rb
  test/dummy/app/actions/comment/destroy.rb
  test/dummy/app/actions/comment/update.rb
  test/dummy/app/actions/result.rb
  test/dummy/app/actions/room/create.rb
  test/dummy/app/actions/room/destroy.rb
  test/dummy/app/actions/room/join.rb
  test/dummy/app/actions/room/leave.rb
  test/dummy/app/actions/user/create.rb
  test/dummy/app/actions/user/destroy.rb
  test/dummy/app/actions/user/start_confirmation.rb
  test/dummy/app/actions/user/update.rb
  test/dummy/app/controllers/admin/articles_controller.rb
  test/dummy/app/controllers/admin/comments_controller.rb
  test/dummy/app/controllers/admin/sessions_controller.rb
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/controllers/application_controller.rb
  test/dummy/app/controllers/main/articles_controller.rb
  test/dummy/app/controllers/main/comments_controller.rb
  test/dummy/app/controllers/main/pages_controller.rb
  test/dummy/app/controllers/main/users_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/app/controllers/user/members_controller.rb
  test/dummy/app/controllers/user/rooms_controller.rb
  test/dummy/app/controllers/user/sessions_controller.rb
  test/dummy/app/controllers/user_controller.rb
  test/dummy/app/queries/comment/find.rb
Due: bundle exec rubocop --force-exclusion

actions - completed + queries
  test/dummy/app/actions/admin/support_member/authenticate.rb
  test/dummy/app/actions/comment/destroy.rb
  test/dummy/app/actions/comment/update.rb
  test/dummy/app/actions/user/authenticate.rb
  test/dummy/app/controllers/admin/sessions_controller.rb
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/controllers/application_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/app/controllers/user/members_controller.rb
  test/dummy/app/controllers/user/rooms_controller.rb
  test/dummy/app/controllers/user/sessions_controller.rb
  test/dummy/app/queries/article/find.rb
  test/dummy/app/queries/article/published.rb
  test/dummy/app/queries/comment/find.rb
  test/dummy/app/queries/room/list.rb
Due: bundle exec rubocop --force-exclusion

db/query
  test/dummy/app/actions/comment/destroy.rb
  test/dummy/app/actions/comment/update.rb
  test/dummy/app/controllers/admin/articles_controller.rb
  test/dummy/app/controllers/admin/comments_controller.rb
  test/dummy/app/controllers/application_controller.rb
  test/dummy/app/controllers/main/articles_controller.rb
  test/dummy/app/controllers/main/comments_controller.rb
  test/dummy/app/controllers/main/pages_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/app/controllers/user/rooms_controller.rb
  test/dummy/app/db/query.rb
  test/dummy/app/db/query/article.rb
  test/dummy/app/db/query/comment.rb
  test/dummy/app/db/query/room.rb
  test/dummy/app/queries/article/find.rb
  test/dummy/app/queries/article/published.rb
  test/dummy/app/queries/comment/find.rb
  test/dummy/app/queries/room/list.rb
Due: bundle exec rubocop --force-exclusion

db/query - API change
  test/dummy/app/actions/comment/destroy.rb
  test/dummy/app/actions/comment/update.rb
  test/dummy/app/controllers/admin/articles_controller.rb
  test/dummy/app/controllers/admin/comments_controller.rb
  test/dummy/app/controllers/main/articles_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/app/db/query.rb
  test/dummy/app/db/query/article.rb
Due: bundle exec rubocop --force-exclusion

db/query - API change
  test/dummy/app/controllers/admin/articles_controller.rb
  test/dummy/app/controllers/main/articles_controller.rb
  test/dummy/app/controllers/main/pages_controller.rb
  test/dummy/app/controllers/user/rooms_controller.rb
  test/dummy/app/db/query.rb
  test/dummy/app/db/query/article.rb
  test/dummy/app/db/query/room.rb
Due: bundle exec rubocop --force-exclusion

to db/query
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/db/query/article.rb
Due: bundle exec rubocop --force-exclusion

refactor
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/controllers/admin/articles_controller.rb
  test/dummy/app/controllers/admin/comments_controller.rb
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/controllers/application_controller.rb
  test/dummy/app/controllers/main/comments_controller.rb
  test/dummy/app/controllers/main/users_controller.rb
  test/dummy/app/db/query.rb
  test/dummy/app/db/query/article.rb
  test/dummy/app/db/query/room.rb
  test/dummy/frontend/js/services/Date.js
Due: prettier --write, eslint --fix, bundle exec rubocop --force-exclusion

refactor
  test/dummy/app/controllers/admin/articles_controller.rb
  test/dummy/app/controllers/main/users_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
Due: bundle exec rubocop --force-exclusion

update deps
  Gemfile
  Gemfile.lock
  test/controllers/loco/model_records_test.rb
  test/dummy/app/controllers/admin/articles_controller.rb
  test/dummy/app/controllers/admin/comments_controller.rb
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/controllers/main/articles_controller.rb
  test/dummy/app/controllers/main/comments_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/app/controllers/user/members_controller.rb
  test/dummy/app/controllers/user/rooms_controller.rb
Due: bundle exec rubocop --force-exclusion

Path conditions:
  prettier --write: (any of: **/*.js) or (any of: **/*.css)
  eslint --fix: any of: **/*.js
  stylelint --fix: any of: **/*.css
  bundle exec rubocop --force-exclusion: any of: *.{gemspec,rb}
