Repository locoframework/loco-rails: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix, bundle exec rubocop --force-exclusion

[test] package.json
  package.json
Due: none

[internal] update deps
  loco-rails.gemspec
  test/integration/user/article_create_page_test.rb
Due: bundle exec rubocop --force-exclusion

[test] fix source maps
  .gitignore
  Gemfile.lock
  loco-rails.gemspec
  test/dummy/app/controllers/admin/sessions_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/config/credentials.yml.enc
  test/dummy/config/environments/production.rb
  webpack.dev.js
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

[test] sprockets 4
  Gemfile.lock
  loco-rails.gemspec
Due: bundle exec rubocop --force-exclusion

[fix] fix view
  test/dummy/frontend/js/views/user/rooms/List.js
Due: prettier --write, eslint

[internal] update deps
  Gemfile.lock
Due: none

[test] type instead of signal in NotificationCenter
  test/dummy/.ruby-version
  test/dummy/app/services/loco/notification_center.rb
  test/dummy/frontend/js/components/admin/User.js
  test/dummy/frontend/js/services/NotificationCenter.js
  test/dummy/frontend/js/views/user/rooms/Show.js
  test/integration/user/direct_communication_test.rb
  test/integration/user/real_snap_chat_test.rb
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

[internal][test] 'signal' => 'message'
  app/channels/loco/notification_center_channel.rb
  lib/generators/loco/notification_center/USAGE
  lib/generators/loco/notification_center/templates/services/loco/notification_center.rb
  lib/loco/broadcaster.rb
  test/dummy/app/services/loco/notification_center.rb
  test/dummy/frontend/js/services/NotificationCenter.js
  test/dummy/frontend/js/views/admin/articles/Edit.js
  test/dummy/frontend/js/views/main/articles/Show.js
  test/dummy/frontend/js/views/main/users/UserRegistrationForm.js
  test/dummy/frontend/js/views/user/articles/Form.js
  test/dummy/frontend/js/views/user/articles/Show.js
  test/dummy/frontend/js/views/user/rooms/List.js
  test/dummy/frontend/js/views/user/rooms/Show.js
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

[test] refactoring
  test/dummy/app/controllers/user/articles_controller.rb
Due: bundle exec rubocop --force-exclusion

[fix]
  test/dummy/frontend/js/locales/base/pl.js
Due: prettier --write, eslint

[test] loco-js v4
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
Due: prettier --write, eslint

[doc] update README (What is Loco-Rails?)
  README.md
Due: none

[doc] update README (But how is Loco supposed to help?)
  README.md
Due: none

[test] refactoring
  test/dummy/app/controllers/user/rooms_controller.rb
Due: bundle exec rubocop --force-exclusion

[doc] update README (Other, more specific problems that Loco solves)
  README.md
Due: none

[doc] update README (Dependencies)
  README.md
Due: none

[doc] update README (Installation)
  README.md
Due: none

[doc] update README (Configuration)
  README.md
Due: none

[doc] update README (No signal wording)
  README.md
Due: none

[test] fix
  test/dummy/app/services/loco/notification_center.rb
Due: bundle exec rubocop --force-exclusion

[doc] update README (Emitting messages)
  README.md
Due: none

[test] refactoring
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/controllers/main/users_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/views/user/articles/_form.html.erb
Due: bundle exec rubocop --force-exclusion

[doc] update README (emit)
  README.md
Due: none

[doc] update README (Garbage collection)
  README.md
Due: none

[doc] update README (emit_to)
  README.md
Due: none

[doc] update README (Communication Hub)
  README.md
Due: none

[doc] update README (Receiving notifications sent over WebSockets)
  README.md
Due: none

[doc] update README (Tests)
  README.md
Due: none

[doc] update README (Changelog)
  README.md
Due: none

[internal] update deps
  Gemfile.lock
  loco-rails.gemspec
Due: bundle exec rubocop --force-exclusion

[ver] 4.0.0
  Gemfile.lock
  lib/loco/version.rb
Due: bundle exec rubocop --force-exclusion

[feature] loco-rails-core v0.2.0
  Gemfile.lock
  lib/loco/version.rb
  loco-rails.gemspec
  test/dummy/app/views/layouts/admin.html.erb
  test/dummy/app/views/layouts/application.html.erb
  test/dummy/app/views/layouts/user.html.erb
Due: bundle exec rubocop --force-exclusion

[doc] update README
  README.md
Due: none

[test] loco-js v4.0.1
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
Due: prettier --write, eslint

[test] cleanup
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/js/controllers/Admin.js
  test/dummy/frontend/js/controllers/Main.js
  test/dummy/frontend/js/controllers/User.js
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/admin/Comments.js
  test/dummy/frontend/js/controllers/admin/Sessions.js
  test/dummy/frontend/js/controllers/admin/Users.js
  test/dummy/frontend/js/controllers/index.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/main/Pages.js
  test/dummy/frontend/js/controllers/main/Users.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/controllers/user/Rooms.js
Due: prettier --write, eslint

[test] update deps
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
Due: prettier --write, eslint

[internal] fix security vulnerabilities in dummy and Rubocop offenses
  .rubocop.yml
  Gemfile.lock
  loco-rails.gemspec
  package-lock.json
  package.json
Due: bundle exec rubocop --force-exclusion

[test] update deps and improve useEffect
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/js/containers/admin/ArticleList.js
  test/dummy/frontend/js/containers/admin/UserList.js
  test/dummy/frontend/js/containers/main/articles/CommentList.js
  test/dummy/frontend/js/containers/main/articles/CommentsNumber.js
  test/dummy/frontend/js/containers/main/pages/ArticleList.js
  test/dummy/frontend/js/containers/user/ArticleList.js
  test/dummy/frontend/js/containers/user/CommentList.js
Due: prettier --write, eslint

[test] headless Chrome by default
  test/test_helper.rb
Due: bundle exec rubocop --force-exclusion

Path conditions:
  prettier --write: ((any of: ./*.js) or (any of: test/dummy/frontend/**/*.js)) or (any of: test/dummy/frontend/**/*.css)
  eslint: (any of: ./*.js) or (any of: test/dummy/frontend/**/*.js)
  stylelint --fix: any of: test/dummy/frontend/**/*.css
  bundle exec rubocop --force-exclusion: any of: *.{gemspec,rb}
