Repository locoframework/loco-rails: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix, bundle exec rubocop --force-exclusion -a

users reducer has been refactored
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/js/reducers/users.js
Due: prettier --write, eslint

articles reducer has been refactored
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/js/reducers/articles.js
  test/dummy/frontend/js/store.js
Due: prettier --write, eslint

comments reducer has been refactored
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/js/reducers/articles.js
  test/dummy/frontend/js/reducers/comments.js
Due: prettier --write, eslint

Refactoring
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/reducers/comments.js
  test/dummy/frontend/js/services/Connectivity.js
Due: prettier --write, eslint

[internal] use Immer.js for working with immutable state (#10)
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/js/reducers/articles.js
  test/dummy/frontend/js/reducers/comments.js
  test/dummy/frontend/js/reducers/users.js
  test/dummy/frontend/js/services/Connectivity.js
  test/dummy/frontend/js/store.js
Due: prettier --write, eslint

new redis port + async / await is in progress
  docker-compose.yml
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/config/cable.yml
  test/dummy/frontend/js/services/Connectivity.js
Due: prettier --write, eslint

async/await in Connectivity.js
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/services/Connectivity.js
Due: prettier --write, eslint

in progress
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/js/components/user/Article.js
  test/dummy/frontend/js/containers/main/pages/LoadMoreLink.js
  test/dummy/frontend/js/containers/user/Comment.js
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/admin/Users.js
Due: prettier --write, eslint

in progress
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/js/views/user/articles/Show.js
Due: prettier --write, eslint

no more .then
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/main/Pages.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/controllers/user/Rooms.js
  test/dummy/frontend/js/views/admin/articles/Edit.js
  test/dummy/frontend/js/views/main/articles/Show.js
  test/dummy/frontend/js/views/user/articles/Form.js
Due: prettier --write, eslint

improvements for async / await
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/controllers/main/Articles.js
Due: prettier --write, eslint

improvements for async / await
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/views/user/articles/Show.js
Due: prettier --write, eslint

[internal] then to async / await in test/dummy (#11)
  docker-compose.yml
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/config/cable.yml
  test/dummy/frontend/js/components/user/Article.js
  test/dummy/frontend/js/containers/main/pages/LoadMoreLink.js
  test/dummy/frontend/js/containers/user/Comment.js
  test/dummy/frontend/js/controllers/admin/Articles.js
  test/dummy/frontend/js/controllers/admin/Users.js
  test/dummy/frontend/js/controllers/main/Articles.js
  test/dummy/frontend/js/controllers/main/Pages.js
  test/dummy/frontend/js/controllers/user/Articles.js
  test/dummy/frontend/js/controllers/user/Rooms.js
  test/dummy/frontend/js/services/Connectivity.js
  test/dummy/frontend/js/views/admin/articles/Edit.js
  test/dummy/frontend/js/views/main/articles/Show.js
  test/dummy/frontend/js/views/user/articles/Form.js
  test/dummy/frontend/js/views/user/articles/Show.js
Due: prettier --write, eslint

no sass
  .lintstagedrc
  package-lock.json
  package.json
  postcss.config.js
  test/dummy/app/assets/bundles/application.css.map
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/css/global.css
  test/dummy/frontend/index.js
  webpack.common.js
Due: prettier --write, eslint, stylelint --fix

[internal] sass to postcss in test/dummy (#12)
  .lintstagedrc
  package-lock.json
  package.json
  postcss.config.js
  test/dummy/app/assets/bundles/application.css.map
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/css/global.css
  test/dummy/frontend/index.js
  webpack.common.js
Due: prettier --write, eslint, stylelint --fix

npm packages have been updated
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/js/components/admin/Comment.js
  test/dummy/frontend/js/containers/user/Comment.js
  test/dummy/frontend/js/validators/Vulgarity.js
  test/dummy/frontend/js/views/user/rooms/List.js
  webpack.common.js
Due: prettier --write, eslint

[internal] npm packages for test/dummy have been updated (#13)
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/js/components/admin/Comment.js
  test/dummy/frontend/js/containers/user/Comment.js
  test/dummy/frontend/js/validators/Vulgarity.js
  test/dummy/frontend/js/views/user/rooms/List.js
  webpack.common.js
Due: prettier --write, eslint

[internal] autoprefixer in dev deps for test/dummy
  package-lock.json
  package.json
  postcss.config.js
  test/dummy/app/assets/bundles/application.css
  test/dummy/app/assets/bundles/application.css.map
  webpack.dev.js
  webpack.prod.js
Due: prettier --write, eslint

[internal] dev deps has been updated
  Gemfile.lock
Due: none

[internal] empty tests were removed
  test/lib/generators/loco/loco/file_injector_generator_test.rb
  test/lib/generators/loco/loco/initializer_generator_test.rb
  test/lib/generators/loco/loco/install_generator_test.rb
  test/lib/generators/loco/loco/notification_center_generator_test.rb
Due: bundle exec rubocop --force-exclusion -a

[internal] extraction
  lib/generators/loco/file_injector/file_injector_generator.rb
  lib/generators/loco/install/install_generator.rb
  lib/loco-rails.rb
  lib/loco/helpers.rb
Due: bundle exec rubocop --force-exclusion -a

Migration to loco-rails-core
  test/dummy/app/helpers/application_helper.rb
Due: bundle exec rubocop --force-exclusion -a

Refactoring
  test/dummy/config/routes.rb
Due: bundle exec rubocop --force-exclusion -a

loco-rails-core gem
  Gemfile.lock
  lib/loco-rails.rb
  loco-rails.gemspec
Due: bundle exec rubocop --force-exclusion -a

loco-rails users don't have to make any changes
  lib/loco-rails.rb
  lib/loco/helpers.rb
  test/dummy/app/helpers/application_helper.rb
Due: bundle exec rubocop --force-exclusion -a

loco-rails-core 0.1.1
  Gemfile.lock
  loco-rails.gemspec
Due: bundle exec rubocop --force-exclusion -a

[internal] Part of logic has been extracted to loco-rails-core (#14)
  Gemfile.lock
  lib/generators/loco/file_injector/file_injector_generator.rb
  lib/generators/loco/install/install_generator.rb
  lib/loco-rails.rb
  lib/loco/helpers.rb
  loco-rails.gemspec
  test/dummy/config/routes.rb
Due: bundle exec rubocop --force-exclusion -a

[doc] README
  README.md
Due: none

[ver] 3.0.5
  lib/loco/version.rb
Due: bundle exec rubocop --force-exclusion -a

Remove test files from published gem
  loco-rails.gemspec
Due: bundle exec rubocop --force-exclusion -a

[fix] Remove test files from published gem (#16)
  loco-rails.gemspec
Due: bundle exec rubocop --force-exclusion -a

[ver] 3.0.6
  Gemfile.lock
  lib/loco/version.rb
Due: bundle exec rubocop --force-exclusion -a

[fix] flaky test has been fixed
  test/integration/admin/articles_list_test.rb
Due: bundle exec rubocop --force-exclusion -a

[tests] helpers/text
  test/dummy/frontend/js/helpers/text.js
  test/dummy/frontend/js/views/main/articles/Show.js
Due: prettier --write, eslint

loco-js-ui
  test/dummy/frontend/js/initializers/loco.js
  test/dummy/frontend/js/views/admin/articles/Form.js
  test/dummy/frontend/js/views/admin/comments/Form.js
  test/dummy/frontend/js/views/admin/sessions/Form.js
  test/dummy/frontend/js/views/admin/users/Form.js
  test/dummy/frontend/js/views/main/articles/Show.js
  test/dummy/frontend/js/views/main/users/UserRegistrationForm.js
  test/dummy/frontend/js/views/user/articles/Form.js
Due: prettier --write, eslint

connect(connector)
  test/dummy/frontend/js/initializers/loco.js
Due: prettier --write, eslint

New way of config loco.js
  test/dummy/frontend/js/initializers/loco.js
Due: prettier --write, eslint

[internal] deps has been updated + ruby 2.6.5
  .rubocop.yml
  .ruby-version
  Gemfile
  Gemfile.lock
  lib/generators/loco/file_injector/file_injector_generator.rb
  loco-rails.gemspec
  test/dummy/config/application.rb
Due: bundle exec rubocop --force-exclusion -a

[internal] Rubocop config has been changed
  .rubocop.yml
  app/channels/loco/notification_center_channel.rb
  app/controllers/loco/notification_center_controller.rb
  app/jobs/loco/sender_job.rb
  app/jobs/loco/uuid_job.rb
  app/models/loco/notification.rb
  app/services/loco/notification/fetcher.rb
  lib/generators/loco/notification_center/templates/services/loco/notification_center.rb
  lib/loco/broadcaster.rb
  lib/loco/config.rb
  lib/loco/emitter.rb
  lib/loco/hub.rb
  lib/loco/sender.rb
  lib/loco/ws_connected_resources_manager.rb
  lib/loco/ws_connection_manager.rb
  lib/loco/ws_connection_storage.rb
Due: bundle exec rubocop --force-exclusion -a

[internal] ruby 2.7
  .rubocop.yml
  .ruby-version
  Gemfile.lock
  test/dummy/.ruby-version
Due: none

Path conditions:
  prettier --write: ((any of: ./*.js) or (any of: test/dummy/frontend/**/*.js)) or (any of: test/dummy/frontend/**/*.{css,scss})
  eslint: (any of: ./*.js) or (any of: test/dummy/frontend/**/*.js)
  stylelint --fix: any of: test/dummy/frontend/**/*.{css,scss}
  bundle exec rubocop --force-exclusion -a: any of: *.{gemspec,rb}
