Repository locoframework/loco-rails: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix, bundle exec rubocop --force-exclusion -a

.lintstagedrc:

{
  "./*.js": [
    "prettier --write",
    "eslint",
    "git add"
  ],
  "test/dummy/frontend/**/*.js": [
    "prettier --write",
    "eslint",
    "git add"
  ],
  "test/dummy/frontend/**/*.{css,scss}": [
    "prettier --write",
    "stylelint --fix",
    "git add"
  ],
  "*.{gemspec,rb}": [
    "bundle exec rubocop --force-exclusion -a",
    "git add"
  ]
}

[internal] ruby 2.7.0
  test/dummy/.ruby-version
Due: none

[test] models inherit from ApplicationRecord in test/dummy
  test/dummy/app/models/admin.rb
  test/dummy/app/models/article.rb
  test/dummy/app/models/comment.rb
  test/dummy/app/models/connection.rb
  test/dummy/app/models/user.rb
Due: bundle exec rubocop --force-exclusion -a

[ephemeron] config
  test/dummy/app/controllers/application_controller.rb
  test/dummy/app/models/application_record.rb
  test/dummy/config/initializers/ephemeron.rb
Due: bundle exec rubocop --force-exclusion -a

[internal] rubocop: 80 offenses
  .rubocop.yml
  test/services/loco/notification/fetcher_test.rb
  test/support/common_helpers.rb
  test/support/no_response_rack.rb
  test/test_helper.rb
Due: bundle exec rubocop --force-exclusion -a

[internal] rubocop: 72 offenses
  test/integration/user/article_create_page_test.rb
  test/integration/user/article_edit_page_test.rb
  test/integration/user/article_show_page_test.rb
  test/integration/user/articles_list_test.rb
  test/integration/user/direct_communication_test.rb
  test/integration/user/real_snap_chat_test.rb
Due: bundle exec rubocop --force-exclusion -a

[internal] rubocop: 58 offenses
  test/dummy/app/controllers/user/sessions_controller.rb
  test/dummy/app/models/user.rb
  test/dummy/app/services/loco/notification_center.rb
  test/dummy/config/environments/development.rb
  test/dummy/config/routes.rb
  test/integration/admin/review_article_test.rb
  test/integration/main/main_page_test.rb
Due: bundle exec rubocop --force-exclusion -a

[internal] rubocop: 40 offenses
  .rubocop.yml
  lib/loco/config.rb
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/app/controllers/user/members_controller.rb
  test/dummy/app/controllers/user/sessions_controller.rb
  test/dummy/app/models/admin.rb
  test/dummy/app/models/article.rb
  test/dummy/app/models/user.rb
  test/integration/admin/edit_comment_test.rb
  test/integration/admin/users_section_test.rb
  test/integration/main/article_page_test.rb
Due: bundle exec rubocop --force-exclusion -a

[internal] rubocop: 20 offenses
  .rubocop.yml
  test/dummy/app/channels/application_cable/connection.rb
  test/dummy/app/controllers/admin/comments_controller.rb
  test/dummy/app/controllers/admin/sessions_controller.rb
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/controllers/main/articles_controller.rb
  test/dummy/app/controllers/main/comments_controller.rb
  test/dummy/app/controllers/main/users_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/app/controllers/user/rooms_controller.rb
  test/integration/admin/articles_list_test.rb
Due: bundle exec rubocop --force-exclusion -a

[internal] rubocop: 15 offenses
  test/dummy/app/controllers/admin/sessions_controller.rb
  test/dummy/app/controllers/application_controller.rb
  test/dummy/app/controllers/main/comments_controller.rb
  test/dummy/app/controllers/main/pages_controller.rb
  test/dummy/app/models/article.rb
Due: bundle exec rubocop --force-exclusion -a

[internal] rubocop: 13 offenses
  test/dummy/app/controllers/application_controller.rb
  test/dummy/app/controllers/main/users_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
Due: bundle exec rubocop --force-exclusion -a

[internal] rubocop: 2 offenses
  .rubocop.yml
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/controllers/user/sessions_controller.rb
  test/integration/main/article_page_test.rb
  test/integration/main/main_page_test.rb
Due: bundle exec rubocop --force-exclusion -a

[internal] rubocop: 0 offenses
  .rubocop.yml
  test/dummy/app/controllers/user/articles_controller.rb
Due: bundle exec rubocop --force-exclusion -a

[internal] rubocop: Standard rule for Layout/IndentationConsistency
  .rubocop.yml
  app/channels/loco/notification_center_channel.rb
  app/controllers/loco/notification_center_controller.rb
  app/jobs/loco/uuid_job.rb
  app/models/loco/notification.rb
  app/services/loco/notification/fetcher.rb
  lib/loco/broadcaster.rb
  lib/loco/hub.rb
  lib/loco/sender.rb
  lib/loco/ws_connected_resources_manager.rb
  lib/loco/ws_connection_manager.rb
  lib/loco/ws_connection_storage.rb
  test/dummy/app/channels/application_cable/connection.rb
  test/dummy/app/controllers/admin/articles_controller.rb
  test/dummy/app/controllers/admin/comments_controller.rb
  test/dummy/app/controllers/admin/sessions_controller.rb
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/controllers/admin_controller.rb
  test/dummy/app/controllers/application_controller.rb
  test/dummy/app/controllers/main/comments_controller.rb
  test/dummy/app/controllers/main/users_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/app/controllers/user/members_controller.rb
  test/dummy/app/controllers/user/rooms_controller.rb
  test/dummy/app/controllers/user/sessions_controller.rb
  test/dummy/app/controllers/user_controller.rb
  test/dummy/app/models/article.rb
  test/dummy/app/models/comment.rb
  test/dummy/app/services/hub_finder.rb
  test/dummy/app/services/loco/notification_center.rb
  test/integration/admin/review_article_test.rb
  test/integration/main/article_page_test.rb
  test/integration/main/main_page_test.rb
  test/integration/signing_up_test.rb
  test/integration/user/article_create_page_test.rb
  test/integration/user/articles_list_test.rb
  test/services/loco/notification/fetcher_test.rb
  test/support/no_response_rack.rb
Due: bundle exec rubocop --force-exclusion -a

[ephemeron] changes
  test/dummy/app/controllers/application_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/app/views/user/articles/index.json.jbuilder
  test/dummy/app/views/user/comments/index.json.jbuilder
  test/dummy/config/initializers/ephemeron.rb
Due: bundle exec rubocop --force-exclusion -a

[ephemeron] 0 failures, 54 errors
  test/dummy/app/views/main/articles/_article_for_list.json.jbuilder
  test/dummy/app/views/main/articles/index.json.jbuilder
Due: none

[ephemeron] ~50 errors
  test/dummy/app/controllers/user/rooms_controller.rb
  test/dummy/app/controllers/user/sessions_controller.rb
  test/dummy/app/views/user/members/index.json.jbuilder
  test/dummy/app/views/user/rooms/index.html.erb
  test/dummy/app/views/user/rooms/show.html.erb
Due: bundle exec rubocop --force-exclusion -a

[ephemeron] refactoring
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/controllers/user/members_controller.rb
  test/dummy/app/controllers/user/sessions_controller.rb
  test/dummy/app/views/main/articles/_article_for_list.json.jbuilder
  test/dummy/app/views/main/articles/index.json.jbuilder
  test/dummy/app/views/user/articles/_article_for_list.json.jbuilder
  test/dummy/app/views/user/articles/index.json.jbuilder
  test/dummy/app/views/user/comments/_comment.json.jbuilder
  test/dummy/app/views/user/comments/index.json.jbuilder
  test/dummy/app/views/user/members/index.json.jbuilder
  test/dummy/app/views/user/rooms/index.html.erb
Due: bundle exec rubocop --force-exclusion -a

[ephemeron] ~50 errors
  test/integration/user/direct_communication_test.rb
Due: bundle exec rubocop --force-exclusion -a

[ephemeron] ~2 failures, ~24 errors
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/app/models/article.rb
  test/dummy/app/views/main/comments/show.json.jbuilder
  test/integration/main/main_page_test.rb
  test/support/user_helpers.rb
  test/test_helper.rb
Due: bundle exec rubocop --force-exclusion -a

[ephemeron] ~1 failures, ~20 errors
  test/dummy/app/controllers/admin/sessions_controller.rb
  test/dummy/app/controllers/admin/users_controller.rb
  test/dummy/app/controllers/application_controller.rb
  test/dummy/app/controllers/user/sessions_controller.rb
  test/dummy/app/views/admin/users/_user.json.jbuilder
Due: bundle exec rubocop --force-exclusion -a

[ephemeron] ~3 failures, ~18 errors
  test/dummy/app/controllers/admin/comments_controller.rb
  test/dummy/app/views/admin/articles/_article.json.jbuilder
  test/dummy/app/views/admin/articles/_article_for_list.json.jbuilder
  test/dummy/app/views/admin/comments/_comment.json.jbuilder
Due: bundle exec rubocop --force-exclusion -a

[ephemeron] ~3 failures, ~15 errors
  test/dummy/app/controllers/admin/articles_controller.rb
  test/dummy/app/models/article.rb
  test/integration/admin/review_article_test.rb
  test/integration/main/article_page_test.rb
  test/support/admin_helpers.rb
  test/test_helper.rb
Due: bundle exec rubocop --force-exclusion -a

[ephemeron] ~3 failures, ~13 errors
  test/test_helper.rb
Due: bundle exec rubocop --force-exclusion -a

[ephemeron] ~3 failures, ~4 errors
  test/dummy/app/controllers/admin/comments_controller.rb
  test/dummy/app/models/comment.rb
  test/dummy/app/views/main/articles/_article.json.jbuilder
  test/dummy/app/views/main/comments/_comment.json.jbuilder
  test/support/admin_helpers.rb
Due: bundle exec rubocop --force-exclusion -a

[ephemeron] ~1 failures, ~3 errors
  .rubocop.yml
  test/integration/signing_up_test.rb
  test/test_helper.rb
Due: bundle exec rubocop --force-exclusion -a

[ephemeron] All test pass
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
  test/integration/user/articles_list_test.rb
Due: bundle exec rubocop --force-exclusion -a

[ephemeron] Usage of save was reduced
  test/dummy/app/controllers/main/comments_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/controllers/user/rooms_controller.rb
Due: bundle exec rubocop --force-exclusion -a

[ephemeron] ephemeron gem
  Gemfile.lock
  loco-rails.gemspec
  test/dummy/config/application.rb
Due: bundle exec rubocop --force-exclusion -a

[internal] dev-deps have been updated + assets precompilation copies source maps in test/dummy
  Gemfile.lock
  test/dummy/app/assets/config/manifest.js
Due: prettier --write, eslint

services/Date
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/js/components/admin/Article.js
  test/dummy/frontend/js/components/admin/Comment.js
  test/dummy/frontend/js/components/main/Article.js
  test/dummy/frontend/js/components/main/Comment.js
  test/dummy/frontend/js/containers/user/Comment.js
  test/dummy/frontend/js/services/Date.js
  test/dummy/frontend/js/views/main/articles/Show.js
Due: prettier --write, eslint

mysql 8
  docker-compose.yml
Due: none

node 12
  .nvmrc
Due: none

[test] fix flaky one
  test/integration/admin/review_article_test.rb
Due: bundle exec rubocop --force-exclusion -a

[test] Init loco-js with the new init function
  test/dummy/frontend/js/initializers/loco.js
Due: prettier --write, eslint

[config] rubocop without -a before commit
  .lintstagedrc
Due: none

[test] fix
  test/dummy/app/models/article.rb
  test/integration/admin/review_article_test.rb
Due: bundle exec rubocop --force-exclusion -a

[test] fix invalid method names
  test/integration/main/article_page_test.rb
Due: bundle exec rubocop --force-exclusion -a

[test] unneeded code was removed
  test/dummy/app/views/admin/articles/edit.html.erb
  test/dummy/app/views/admin/users/_form.html.erb
Due: none
