Repository locoframework/loco-rails: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix, bundle exec rubocop --force-exclusion

.lintstagedrc:

{
  "./*.js": [
    "prettier --write",
    "eslint",
    "git add"
  ],
  "test/dummy/frontend/**/*.js": [
    "prettier --write",
    "eslint",
    "git add"
  ],
  "test/dummy/frontend/**/*.css": [
    "prettier --write",
    "stylelint --fix",
    "git add"
  ],
  "*.{gemspec,rb}": [
    "bundle exec rubocop --force-exclusion",
    "git add"
  ]
}

[internal] send idempotency key always
  lib/loco/broadcaster.rb
Due: bundle exec rubocop --force-exclusion

[test] remove unneeded code
  test/dummy/frontend/js/services/NotificationCenter.js
Due: prettier --write, eslint

[test] refactoring
  test/integration/user/direct_communication_test.rb
  test/integration/user/real_snap_chat_test.rb
Due: bundle exec rubocop --force-exclusion

[internal] don't use SenderJob if a 'simple' recipient
  lib/loco/broadcaster.rb
  test/integration/user/article_edit_page_test.rb
  test/integration/user/articles_list_test.rb
  test/loco/broadcaster_test.rb
  test/support/user_helpers.rb
Due: bundle exec rubocop --force-exclusion

[test][dummy] update loco config
  test/dummy/frontend/js/initializers/loco.js
Due: prettier --write, eslint

[test][dummy][frontend] refactor a config
  test/dummy/frontend/js/models/index.js
Due: prettier --write, eslint

[test][dummy][frontend] models in config
  test/dummy/frontend/index.js
  test/dummy/frontend/js/initializers/loco.js
  test/dummy/frontend/js/models/index.js
Due: prettier --write, eslint

[test][dummy][frontend] controllers in config
  test/dummy/frontend/index.js
  test/dummy/frontend/js/controllers/index.js
  test/dummy/frontend/js/initializers/loco.js
Due: prettier --write, eslint

[test][dummy][frontnend] App controller
  test/dummy/frontend/js/controllers/Admin.js
  test/dummy/frontend/js/controllers/App.js
  test/dummy/frontend/js/controllers/Main.js
  test/dummy/frontend/js/controllers/User.js
  test/dummy/frontend/js/initializers/loco.js
Due: prettier --write, eslint

[test][dummy][frontend] refactoring
  test/dummy/frontend/index.js
  test/dummy/frontend/js/initializers/loco.js
  test/dummy/frontend/js/validators/Vulgarity.js
  test/dummy/frontend/js/validators/index.js
Due: prettier --write, eslint

[test][dummy][frontend] no Object.assign
  test/dummy/frontend/js/controllers/Admin.js
  test/dummy/frontend/js/controllers/User.js
Due: prettier --write, eslint

[test]
  test/integration/main/article_page_test.rb
Due: bundle exec rubocop --force-exclusion

[internal] ping pong
  app/channels/loco/notification_center_channel.rb
  lib/loco/ws_connection_checker.rb
  test/loco/ws_connection_checker_test.rb
  test/loco/ws_connection_manager_test.rb
  test/loco/ws_connection_storage_test.rb
Due: bundle exec rubocop --force-exclusion

[internal] no CleanerJob
  app/channels/loco/notification_center_channel.rb
  app/jobs/loco/cleaner_job.rb
  lib/loco-rails.rb
  lib/loco/ws_connection_checker.rb
  lib/loco/ws_connection_cleaner.rb
  test/loco/ws_connection_checker_test.rb
  test/loco/ws_connection_manager_test.rb
  test/ws_connection_cleaner_test.rb
Due: bundle exec rubocop --force-exclusion

[internal] send to a given UUID once
  lib/loco/sender.rb
  test/loco/sender_test.rb
Due: bundle exec rubocop --force-exclusion

[internal] no source-maps-fixer
  Gemfile.lock
  loco-rails.gemspec
Due: bundle exec rubocop --force-exclusion

[test]
  test/integration/signing_up_test.rb
Due: bundle exec rubocop --force-exclusion

[ver][test][doc]
  Gemfile.lock
  README.md
  lib/loco-rails.rb
  lib/loco/version.rb
  lib/loco/ws_connection_checker.rb
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.css
  test/dummy/app/assets/bundles/application.css.map
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

[doc] README
  README.md
Due: none

[test] update front-end deps
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/vendor.js
Due: prettier --write, eslint

[internal] ruby 3
  test/dummy/.ruby-version
Due: none

[internal] update deps
  Gemfile.lock
  loco-rails.gemspec
Due: bundle exec rubocop --force-exclusion

[internal] Ruby 3 (#41)
  Gemfile.lock
  loco-rails.gemspec
  test/dummy/.ruby-version
Due: bundle exec rubocop --force-exclusion

[internal] Rails 6.1
  Gemfile.lock
Due: none

[internal] update deps
  Gemfile.lock
  package-lock.json
  package.json
Due: none

[internal] update deps
  Gemfile.lock
Due: none

[internal] update docker-compose.yml and docs
  README.md
  docker-compose.yml
Due: none

Rails 7
  .rubocop.yml
  Gemfile.lock
  lib/loco-rails.rb
  lib/loco/rails/engine.rb
  lib/loco/ws_connection_storage.rb
  loco-rails.gemspec
  test/dummy/app/assets/bundles/application.css
  test/dummy/app/assets/bundles/application.css.map
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/app/controllers/admin/articles_controller.rb
  test/dummy/app/controllers/main/articles_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/app/controllers/user/rooms_controller.rb
  test/dummy/app/controllers/user/sessions_controller.rb
  test/dummy/app/models/article.rb
  test/dummy/app/models/comment.rb
  test/dummy/config/application.rb
  test/dummy/config/environments/development.rb
  test/dummy/config/environments/production.rb
  test/dummy/config/environments/test.rb
  test/dummy/config/initializers/assets.rb
  test/dummy/config/initializers/cookies_serializer.rb
  test/dummy/config/initializers/loco.rb
  test/dummy/config/initializers/wrap_parameters.rb
  test/dummy/db/schema.rb
  test/integration/main/article_page_test.rb
  test/integration/main/main_page_test.rb
  test/integration/user/article_create_page_test.rb
  test/support/common_helpers.rb
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

[test][dummy] Ruby 3.1
  test/dummy/.ruby-version
  test/integration/user/article_edit_page_test.rb
Due: bundle exec rubocop --force-exclusion

[internal] ☠️ Ruby 6 ➕ dummy app on Rails 7 (#57)
  .rubocop.yml
  Gemfile.lock
  lib/loco-rails.rb
  lib/loco/rails/engine.rb
  lib/loco/ws_connection_storage.rb
  loco-rails.gemspec
  test/dummy/.ruby-version
  test/dummy/app/assets/bundles/application.css
  test/dummy/app/assets/bundles/application.css.map
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/app/controllers/admin/articles_controller.rb
  test/dummy/app/controllers/main/articles_controller.rb
  test/dummy/app/controllers/user/articles_controller.rb
  test/dummy/app/controllers/user/comments_controller.rb
  test/dummy/app/controllers/user/rooms_controller.rb
  test/dummy/app/controllers/user/sessions_controller.rb
  test/dummy/app/models/article.rb
  test/dummy/app/models/comment.rb
  test/dummy/config/application.rb
  test/dummy/config/environments/development.rb
  test/dummy/config/environments/production.rb
  test/dummy/config/environments/test.rb
  test/dummy/config/initializers/assets.rb
  test/dummy/config/initializers/cookies_serializer.rb
  test/dummy/config/initializers/loco.rb
  test/dummy/config/initializers/wrap_parameters.rb
  test/dummy/db/schema.rb
  test/integration/main/article_page_test.rb
  test/integration/main/main_page_test.rb
  test/integration/user/article_create_page_test.rb
  test/integration/user/article_edit_page_test.rb
  test/support/common_helpers.rb
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

update frontend deps
  package-lock.json
  package.json
  postcss.config.js
  test/dummy/app/assets/bundles/application.css
  test/dummy/app/assets/bundles/application.css.map
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.LICENSE.txt
  test/dummy/app/assets/bundles/vendor.js.map
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: prettier --write, eslint

[test] green
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/frontend/index.js
  test/dummy/frontend/js/components/admin/User.js
  test/dummy/frontend/js/initializers/loco.js
  test/dummy/frontend/js/services/NotificationCenter.js
  test/dummy/frontend/js/views/user/rooms/Show.js
  webpack.dev.js
Due: prettier --write, eslint

[test] disconnectedForTooLong
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/controllers/Admin.js
  test/dummy/frontend/js/controllers/App.js
  test/dummy/frontend/js/controllers/Main.js
  test/dummy/frontend/js/controllers/User.js
  test/dummy/frontend/js/initializers/loco.js
Due: prettier --write, eslint

[test] loco-js v6 & loco-js-ui v6
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
Due: prettier --write, eslint

[ver] 6.0.0
  README.md
  lib/loco/version.rb
Due: bundle exec rubocop --force-exclusion
