Repository locoframework/loco-rails: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix, bundle exec rubocop --force-exclusion

.lintstagedrc:

{
  "./*.js": [
    "prettier --write",
    "eslint",
    "git add"
  ],
  "test/dummy/frontend/**/*.js": [
    "prettier --write",
    "eslint",
    "git add"
  ],
  "test/dummy/frontend/**/*.css": [
    "prettier --write",
    "stylelint --fix",
    "git add"
  ],
  "*.{gemspec,rb}": [
    "bundle exec rubocop --force-exclusion",
    "git add"
  ]
}

Rubocop in progress
  .rubocop.yml
  lib/loco/config.rb
  test/dummy/app/models/admin.rb
  test/dummy/app/models/admin/support_member.rb
  test/dummy/app/services/loco/notification_center.rb
  test/dummy/db/migrate/20241020200519_create_admin_support_members.rb
  test/dummy/db/migrate/20250704040330_create_messages.rb
  test/loco/permissions_presenter_test.rb
Due: bundle exec rubocop --force-exclusion

rubocop is green
  lib/loco/broadcaster.rb
Due: bundle exec rubocop --force-exclusion

Rails 8
  Gemfile.lock
  loco-rails.gemspec
  test/dummy/bin/dev
  test/dummy/bin/setup
  test/dummy/config/application.rb
  test/dummy/config/environments/development.rb
  test/dummy/config/environments/production.rb
  test/dummy/config/environments/test.rb
  test/dummy/config/initializers/assets.rb
  test/dummy/config/initializers/content_security_policy.rb
  test/dummy/config/initializers/filter_parameter_logging.rb
  test/dummy/config/initializers/inflections.rb
  test/dummy/config/initializers/new_framework_defaults_8_0.rb
  test/dummy/config/puma.rb
  test/dummy/public/400.html
  test/dummy/public/404.html
  test/dummy/public/406-unsupported-browser.html
  test/dummy/public/422.html
  test/dummy/public/500.html
  test/dummy/public/icon.png
  test/dummy/public/icon.svg
  test/dummy/public/robots.txt
Due: bundle exec rubocop --force-exclusion

[test] improve
  test/integration/user/real_snap_chat_test.rb
Due: bundle exec rubocop --force-exclusion

refactoring
  lib/loco/hub.rb
Due: bundle exec rubocop --force-exclusion

auto leave room - in progress
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/controllers/user/rooms_controller.rb
  test/dummy/app/services/clear_room_members.rb
  test/dummy/app/services/hub_finder.rb
  test/dummy/app/services/loco/notification_center.rb
  test/dummy/config/initializers/redis.rb
  test/dummy/frontend/js/controllers/user/Rooms.js
  test/dummy/frontend/js/views/user/rooms/Show.js
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

[test] background job
  test/dummy/app/jobs/application_job.rb
  test/dummy/app/jobs/clear_room_members_job.rb
  test/dummy/app/services/clear_room_members.rb
  test/dummy/app/services/hub_finder.rb
  test/dummy/app/services/loco/notification_center.rb
Due: bundle exec rubocop --force-exclusion

Refactor room member management: replace ClearRoomMembers with MaintainRoomMembers service, introduce MaintainRoomMembersJob, and update notification handling in Loco module.
  lib/loco/hub.rb
  test/dummy/app/controllers/user/rooms_controller.rb
  test/dummy/app/jobs/clear_room_members_job.rb
  test/dummy/app/jobs/maintain_room_members_job.rb
  test/dummy/app/services/clear_room_members.rb
  test/dummy/app/services/loco/notification_center.rb
  test/dummy/app/services/maintain_room_members.rb
  test/dummy/config/initializers/redis.rb
Due: bundle exec rubocop --force-exclusion

partial
  test/dummy/app/views/user/rooms/_room.html.erb
  test/dummy/app/views/user/rooms/index.html.erb
Due: none

Refactor room rendering: remove partial for room display and implement JSON data handling for room list in the frontend.
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/views/user/rooms/_room.html.erb
  test/dummy/app/views/user/rooms/index.html.erb
  test/dummy/frontend/js/views/user/rooms/List.js
Due: prettier --write, eslint

[test] fix
  test/dummy/app/controllers/user/rooms_controller.rb
Due: bundle exec rubocop --force-exclusion

[test] Enhance room member management and rendering: improve user data handling in frontend, and streamline room rendering logic, fixes
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/services/maintain_room_members.rb
  test/dummy/app/views/layouts/user.html.erb
  test/dummy/frontend/js/views/user/rooms/List.js
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

[test] Enhance member addition logic in room view: prevent duplicate entries for users already in the room.
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/views/user/rooms/Show.js
Due: prettier --write, eslint

[test] fix
  test/support/user_helpers.rb
Due: bundle exec rubocop --force-exclusion

[test] refactoring
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/services/CurrentUser.js
  test/dummy/frontend/js/views/user/rooms/List.js
Due: prettier --write, eslint

[test] refactoring
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/views/user/rooms/List.js
Due: prettier --write, eslint

[test] autoleaving room
  test/integration/user/real_snap_chat_test.rb
Due: bundle exec rubocop --force-exclusion

improve Turbo integration: added turbo-cache-control meta tag for no caching
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.LICENSE.txt
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/app/views/layouts/_head.html.erb
Due: prettier --write, eslint

[test] fix rejoining the room
  test/dummy/app/services/loco/notification_center.rb
Due: bundle exec rubocop --force-exclusion

[test] refactor
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/initializers/loco-core.js
Due: prettier --write, eslint

[test] refactor HubFinder usage: replace with FindHub service
  test/dummy/app/controllers/user/members_controller.rb
  test/dummy/app/controllers/user/rooms_controller.rb
  test/dummy/app/services/find_hub.rb
  test/dummy/app/services/hub_finder.rb
  test/dummy/app/services/loco/notification_center.rb
  test/integration/user/real_snap_chat_test.rb
  test/support/user_helpers.rb
Due: bundle exec rubocop --force-exclusion

[test] refactor RoomWithHub initialization: use keyword arguments
  test/dummy/app/controllers/user/rooms_controller.rb
Due: bundle exec rubocop --force-exclusion

[test] no @rails/ujs but more flaky
  package-lock.json
  package.json
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/app/assets/bundles/vendor.js
  test/dummy/app/assets/bundles/vendor.js.map
  test/dummy/app/controllers/user/rooms_controller.rb
  test/dummy/app/views/user/rooms/_form.html.erb
  test/dummy/app/views/user/rooms/show.html.erb
  test/dummy/frontend/index.js
  test/dummy/frontend/js/components/user/Article.js
  test/dummy/frontend/js/controllers/user/Rooms.js
  test/dummy/frontend/js/initializers/rails.js
  test/dummy/frontend/js/views/user/rooms/List.js
  test/integration/user/articles_list_test.rb
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

[test] fix dummy app
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/dummy/frontend/js/views/user/rooms/List.js
Due: prettier --write, eslint

[test] still flaky in HEADLESS
  test/integration/user/real_snap_chat_test.rb
  test/support/user_helpers.rb
Due: bundle exec rubocop --force-exclusion

[test] changes
  test/dummy/app/services/loco/notification_center.rb
  test/integration/user/real_snap_chat_test.rb
  test/support/user_helpers.rb
Due: bundle exec rubocop --force-exclusion

[test] refactor
  test/dummy/app/services/loco/notification_center.rb
Due: bundle exec rubocop --force-exclusion

[test] update loco-js
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
Due: prettier --write, eslint

update loco.js
  config/routes.rb
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

update loco.js
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
Due: prettier --write, eslint

update loco-js and loco-js-model
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
Due: prettier --write, eslint

update loco-js-model
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
Due: prettier --write, eslint

deprecate sync_time
  app/controllers/loco/notification_center_controller.rb
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion

comment
  config/routes.rb
Due: bundle exec rubocop --force-exclusion

test
  test/dummy/app/assets/bundles/application.js
  test/dummy/app/assets/bundles/application.js.map
  test/integration/user/real_snap_chat_test.rb
  test/support/user_helpers.rb
Due: prettier --write, eslint, bundle exec rubocop --force-exclusion
